.comment {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: #f8f8f8;
}

.commentTop {
  width: 100%;
  padding: 6px 0 4px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #898989;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: -0.5px;
}

.commentTopLeft {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cloud {
  display: flex;
  height: 13px;
  align-items: center;
}

.dot {
  width: 3px;
  height: 3px;
  background: #898989;
  border-radius: 100%;
}

.dot3 {
  padding: 20px 14px 2px 10px;
}

.commentCenter {
  color: #484848;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.5px;
  padding: 0 14px;
}

.commentBottom {
  margin-right: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: end;
  padding: 0 0 0 14px;
}

.commentCount {
  padding: 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 5px;
  color: #898989;
  background-color: transparent;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: -0.5px;
}

.commentCount:hover {
  background-color: #e8e8e8;
}

.likedCount {
  padding: 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  color: #898989;
  background-color: transparent;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: -0.5px;
}

.likedCount:hover {
  background-color: #e8e8e8;
}

.nestedComment {
  width: 100%;
  background-color: #f0f0f0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nestedCommentTop {
  width: 100%;
  padding: 10px 0 0 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #898989;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: -0.5px;
}

.nestedIcon {
  display: flex;
  width: 15px;
  padding-bottom: 10px;
}

.nestedPadding {
  width: 100%;
  padding-left: 22px;
}

.deletedComment {
  width: 100%;
  padding: 15px 14px;
  border-radius: 5px;
  background: #f8f8f8;
  color: #898989;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.5px;

}
