.container {
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 2.3rem 4rem;
  text-align: center;
}

.title {
  color: var(--black);
  font: var(--text-headline-1-med);
  word-break: keep-all;
}

.description {
  color: var(--grey-4);
  font: var(--text-headline-2-reg);
  word-break: keep-all;
}

.confirmButton {
  width: 100%;
  padding: 1.3rem 5.7rem;
  color: var(--blue-3);
  font: var(--text-headline-2-med);
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-top: solid 0.1rem var(--blue-0);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.confirmButton:hover {
  background-color: var(--blue-0);
}
