.alertPage {
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  padding: 0.875rem 1.25rem;
  justify-content: flex-end;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  padding: 0 1.25rem 6.25rem 1.25rem;
  width: 100%;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.875rem 0;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
}

.readAllButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.25rem;
  height: 1.125rem;
  border-radius: 0.1875rem;
  background: var(--blue-0);
  color: var(--blue-3);
  font-size: 0.5625rem;
}

.alertListContainer {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.alertBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.3125rem;
  background: var(--gray-1-1);
  padding: 0.9375rem;
}

.alertBox.unread {
  background: var(--blue-0);
}

.alertBox.unreadWarning {
  background: var(--pink-1);
}

.alertIconContentWrapper {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.alertIconContentWrapper svg {
  width: 2rem;
  height: 2rem;
}

.alertContent {
  display: flex;
  flex-direction: column;
  gap: 0.1875rem;
}

.alertTitle {
  color: var(--gray-4);
  font-size: 0.75rem;
  font-weight: 500;
}
.alertTitle.unreadTitle {
  color: var(--blue-4);
}
.alertTitle.unreadWarningTitle {
  color: var(--pink-3);
}

.alertDesc {
  color: var(--gray-4);
  font-size: 0.6875rem;
  white-space: pre-line;
}
.alertDesc.unreadDesc {
  color: var(--blue-3);
}
.alertDesc.unreadWarningDesc {
  color: var(--pink-2);
}
