.tile {
  width: 2rem;
  height: 3.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.day {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
}

.day.today {
  border-radius: 100%;
  background: #ddebf6;
  font-weight: 700;
  color: #00368e;
}

.difference {
  font-size: 0.75rem;
  text-align: center;
  color: #ff849a;
}
