.pageFrame {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.backAppBar {
  display: block;
}

.pageTopFrame {
}

.pageMiddleFrame {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explanation {
  height: fit-content;
  padding: 0 20px;
}

.pageTitle {
  font-size: 20px;
  font-weight: 700;
  margin-top: 51.2px;
}

.pageExplanation {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-4);
  margin-top: 14px;
}

.pageBottomFrame {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.goBackButton {
  display: block;
  margin-bottom: 8px;
}

.loginButton {
  margin-bottom: 33.008px;
}
