/* top */

.top {
  display: flex;
  flex-direction: column;
  background-color: var(--blue-4);
  border-radius: 0 0 1.5rem 1.5rem;
}

.title {
  margin-bottom: 3rem;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  color: var(--white);
  white-space: pre-line;
}

.calendar {
  display: flex;
  justify-content: center;
}

.attendanceButton {
  margin: 2.6rem var(--default-margin);
  padding: 1.3rem 0;
  background: var(--blue-0);
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
  color: var(--blue-4);

  &:active {
    filter: brightness(0.9);
  }
}

.attendanceButton:disabled {
  color: var(--grey-4);
  background: var(--grey-3);

  cursor: not-allowed;

  &:active {
    filter: none;
  }
}

/* bottom */

.bottom {
  margin: 1.7rem 0 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item {
  margin: 0 var(--default-margin);
  padding: 1.4rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--blue-0);
  border-radius: 0.5rem;
}

.itemLeft {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.label {
  font: var(--text-headline-2-med);
  color: var(--blue-4);
}

.description {
  margin-left: 0.1rem;

  font: var(--text-body-1-reg);
  color: var(--blue-4);
}
