.policyPage {
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 5.4rem 2rem;
  width: 100%;
  gap: 2.4rem;
  padding-top: 5rem;
}
.contentWrapper section {
  margin-bottom: 2rem;
}
.contentWrapper h2 {
  padding: 0.3rem 0.2rem;
  font-size: 1.6rem;
  font-weight: bold;
}
.contentWrapper p {
  padding: 0.4rem 0.2rem;
}
.contentWrapper ul {
  list-style-type: disc;
  padding-left: 2rem;
}
.contentWrapper ol {
  list-style-type: decimal;
  padding-left: 2.2rem;
}

.title {
  font: var(--text-title-1-bold);
}

.content {
  padding: 2rem 1.3rem;
  border-radius: 0.5rem;
  background: #f5f5f5;
  color: var(--grey-4);
  font-size: 1.4rem;
  white-space: pre-line;
}
