.container {
  padding-top: var(--default-appbar-height);

  display: flex;
  flex-direction: column;
}

.contentWrapper {
  padding: 0 var(--default-margin) 5.4rem;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.contentWrapper section {
  margin-bottom: 2rem;
}
.contentWrapper h2 {
  padding: 0.3rem 0.2rem;
  font: var(--text-headline-2-bold);
}
.contentWrapper p {
  padding: 0.4rem 0.2rem;
}
.contentWrapper ul {
  list-style-type: disc;
  padding-left: 2rem;
}
.contentWrapper ol {
  list-style-type: decimal;
  padding-left: 2.2rem;
}

.title {
  font: var(--text-title-1-bold);
}

.content {
  padding: 2rem 1.3rem;
  border-radius: 0.5rem;
  background: #f5f5f5;
  color: var(--grey-4);
  font: var(--text-body-1-reg);
  line-height: 1.6;
  white-space: pre-line;
}
