/* Tile */

.tile {
  width: 32px;
  height: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.day {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-align: center;
  color: var(--white);
}

.day.today {
  border-radius: 100%;
  background: var(--blue-1);
  font-weight: 700;
  color: var(--blue-4);
}

.difference {
  font-size: 12px;
  text-align: center;
  color: var(--pink-2);
}
