.container {
  width: 100%;
  height: 100vh;
  background-color: #eaf5fd;
}

.top {
  width: 100%;
}

.center {
  padding: 0 1.25rem;
}

.categorySelect {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem 0 0.9375rem 0;
  border-bottom: 0.5px solid #898989;
  stroke-width: 0.5px;

  div {
    gap: 0.875rem;
    display: flex;
    align-items: center;
  }
}

.categorySelectText {
  font-size: 1rem;
  font-weight: 500;
}

.profileBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.375rem 0 1.125rem 0;
  color: #898989;
  font-size: 0.75rem;
}

.profileBoxLeft {
  display: flex;
  align-items: center;
  gap: 0.4375rem;
}

.profileBoxRight {
  display: flex;
  align-items: center;
  gap: 0.125rem;
  color: #000;
}

.profileBoxRightInvisible {
  display: none;
}

.dot {
  width: 0.1875rem;
  height: 0.1875rem;
  border-radius: 50%;
  background-color: #898989;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 2.25rem;
}

.title {
  color: #484848;
  font-size: 1.25rem;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: transparent;
  display: block;
  width: 100%;
  resize: none;
}

.text {
  color: #484848;
  font-size: 0.875rem;
  outline: none;
  border: none;
  background-color: transparent;
  display: block;
  width: 100%;
  min-height: 6.25rem;
  resize: none;
  white-space: pre-wrap; /* 줄바꿈과 공백을 유지 */
}

.bottom {
  height: 100%;
}
