.item {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5008px solid var(--gray-3);
}

.item:last-child {
  border: none;
}

.tag {
  margin-right: 14px;
  flex-shrink: 0;
  font-size: 12px;
  color: var(--gray-3-1);
}

.value {
  font-size: 14px;
  color: var(--gray-4);
}

.flexStart {
  align-self: flex-start;
}
