.item {
  padding: 1.2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.05rem solid var(--grey-3);
}

.item:last-child {
  border: none;
}

.tag {
  margin-right: 1.4rem;
  flex-shrink: 0;
  font-size: 1.2rem;
  color: var(--grey-3-1);
}

.value {
  font-size: 1.4rem;
  color: var(--grey-4);
}

.flexStart {
  align-self: flex-start;
}
