.item {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.05rem solid var(--grey-3);
}

.item:last-child {
  border: none;
}

.tag {
  flex-shrink: 0;

  font: var(--text-body-1-reg);
  color: var(--grey-3-1);
}

.value {
  font: var(--text-headline-2-reg);
  color: var(--grey-4);
}

.flexStart {
  align-self: flex-start;
}
