.container {
  width: 100%;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 8px;
}

.posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 8px;
  /* 양옆 여백 */
  padding: 4px 17px 110px 17px;
  row-gap: 8px;
}

.to {
  width: 100%;
}
