.container {
  flex: 1;

  margin-bottom: 4rem;
}

.title {
  font: var(--text-title-1-bold);
  margin-bottom: 2rem;
}

.inputList {
  margin-bottom: 4rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field {
  height: 10.5rem;
}
