.pageFrame {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scrollFrame {
  overflow-y: scroll;
}

.text {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.inputFrame {
  margin-bottom: 2.4rem;
}

.submit {
  margin-bottom: 3.4rem;
}
