.pageFrame {
  height: 100%;
  overflow-y: scroll;
}

.title {
  font: var(--text-title-1-bold);
  margin-bottom: 3rem;
}

.inputFrame {
  margin-bottom: 2.4rem;
}

.submit {
  margin-top: 3.9rem;
  margin-bottom: 3.9rem;
}
