.textarea {
  height: 13.2rem;
  padding: 1.4rem 1.6rem;
  grid-column: span 2;
  background: var(--gray-2);
  border-radius: 0.5rem;
  border: none;
  outline: none;
  resize: none;
  font-size: 1.3rem;
}

.textarea::placeholder {
  color: var(--gray-3-1);
}
