.textarea {
  height: 132px;
  padding: 14.4px 16px;
  grid-column: span 2;
  background: var(--gray-2);
  border-radius: 5px;
  border: none;
  outline: none;
  resize: none;
  font-size: 13px;
}

.textarea::placeholder {
  color: var(--gray-3-1);
}
