.comments {
  width: 100%;
  font: var(--text-body-1-reg);
  padding: 0 var(--default-margin) 10rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.4rem;
  min-height: 30rem;
}

.commentsTitle {
  padding: 1.8rem 0 0.2rem 0;
}

.failComment {
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
