.comments {
  width: 100%;
  font-size: 1.4rem;
  padding: 0 2rem 10rem 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
  min-height: 30rem;
}

.commentsTitle {
  padding: 1.4rem 0 0.2rem 0;
}

.failComment {
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
