.main {
  margin-bottom: 5rem;
  padding-top: 6.2rem;
}

.file {
  margin: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
}

.left {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  position: relative;
}

.left .required {
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  position: absolute;
  top: 0.2rem;
  right: -1rem;
  border-radius: 1rem;
  background-color: var(--pink-3);
}

.tag {
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--grey-4);
}

.right {
  flex: 1;
}

label[for='file'] {
  padding: 0.8rem 1.6rem;
  display: block;
  background: var(--grey-2);
  border-radius: 0.5rem;
  font-size: 1.3rem;
  color: var(--grey-3-1);
  cursor: pointer;
}

input[type='file'] {
  display: none;
}
