.main {
  margin-bottom: 50px;
  padding-top: 62px;
}

.file {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.left {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.left .required {
  width: 5px;
  height: 5px;
  display: inline-block;
  position: absolute;
  top: 2px;
  right: -10px;
  border-radius: 10px;
  background-color: var(--pink-3);
}

.tag {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray-4);
}

.right {
  flex: 1;
}

label[for='file'] {
  padding: 8px 16px;
  display: block;
  background: var(--gray-2);
  border-radius: 5px;
  font-size: 13px;
  color: var(--gray-3-1);
  cursor: pointer;
}

input[type='file'] {
  display: none;
}
