.title {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5.584px;
}

.input {
  width: 100%;
  height: 41.008px;
  border-radius: 6px;
  padding-left: 16px;
  padding-right: 10px;
  font-size: 12px;
  outline: 0;
}

.input [type='date']::-webkit-calendar-picker-indicator {
  width: 160px;
  height: 19.008px;
  background-color: var(--blue-4);
}

.ready {
  border: 0;
  background-color: var(--gray-1-1);
}

.ready::placeholder {
  color: var(--gray-3-1);
}

.right {
  border: 0;
  background-color: var(--blue-0);
  color: var(--blue-4);
}

.wrong {
  border: 0;
  background-color: var(--pink-1);
  color: var(--pink-3);
}

.errMsg {
  font-size: 11.008px;
  color: var(--pink-3);
}
