.title {
  font: var(--text-headline-2-med);
  margin-bottom: 0.6rem;
}

.input {
  width: 100%;
  height: 5rem;
  border-radius: 0.6rem;
  padding-left: 1.6rem;
  padding-right: 1rem;
  font: var(--text-body-1-reg);
  outline: 0;
}

.input [type='date']::-webkit-calendar-picker-indicator {
  width: 16rem;
  height: 1.9rem;
  background-color: var(--blue-4);
}

.ready {
  border: 0;
  background-color: var(--grey-1-1);
}

.ready::placeholder {
  color: var(--grey-3-1);
}

.right {
  border: 0;
  background-color: var(--blue-0);
  color: var(--blue-4);
}

.wrong {
  border: 0;
  background-color: var(--pink-1);
  color: var(--pink-3);
}

.errMsg {
  margin-top: 0.6rem;
  font-size: 1.4rem;
  color: var(--pink-3);
}
