.title {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5.584px;
}

.input {
  width: 100%;
  height: 41.008px;
  border-radius: 6px;
  padding-left: 16px;
  font-size: 12px;
  outline: 0;
  border: 0;
}

.pwFrame {
  width: 100%;
  display: flex;
  align-items: center;
  height: 41.008px;
  border-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding-right: 10px;
}

.ready {
  background-color: var(--gray-1-1);
}

.right {
  background-color: var(--blue-0);
}

.wrong {
  background-color: var(--pink-1);
}

.pwInput {
  width: 80%;
  background-color: var(--blue-4);
  display: inline-block;
}

.icon {
  display: inline-block;
}

.icon:hover {
  cursor: pointer;
}

.error {
  color: var(--pink-3);
  font-size: 11.008px;
  margin-top: 3.008px;
}
