.dim {
  width: 100vw;
  max-width: var(--default-width);
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(var(--grey-4-rgb), 0.2);
}

.layout {
  width: 28.8rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 1rem;
  background: var(--white);
}
