.board {
  padding: 0 14px;
  margin: 24px 0;
}

.header {
  margin-bottom: 7px;
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
}

.more {
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  color: #6a6a6a;
}

.list {
  border: 0.5px solid #c7c7c7;
  border-radius: 7px;
  box-sizing: border-box;
}
