.header {
  width: 100%;
  height: var(--default-appbar-height);

  padding: 0 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.button {
  font: var(--text-headline-2-reg);

  color: var(--blue-4);
  background-color: var(--white);
}
