.header {
  width: 100%;
  padding: 0.8rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.button {
  background-color: var(--white);
  font: var(--text-headline-2-med);
  color: var(--blue-4);
}
