.content {
  position: relative;

  margin: 0 var(--default-margin);

  flex: 1;
}

.illustration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 20rem);
}

/* button */
.button {
  position: absolute;
  left: 0;
  bottom: 4rem;

  height: 5.4rem;
}
