.button {
  width: 100%;
  padding: 1.65rem 0;
  border-radius: 0.5rem;

  font: var(--text-headline-2-med);

  color: var(--white);
  background: var(--blue-4);
}

.button:disabled {
  cursor: auto;
  background: var(--grey-2);
  color: var(--grey-3-1);
}
