/* 상단 배경 */
.myPageUpper {
  width: 100%;
  height: 12.3125rem;
  opacity: 0.8;
  z-index: 1;
}

.logoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 27.125rem;
  opacity: 0.8;
  background-image: url('/src/assets/images/symbol_White.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.editIcon {
  position: absolute;
  top: 0.375rem;
  right: 0.375rem;
  padding: 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
}
