.imageList {
  cursor: default;
}

.imageContainer {
  width: fit-content;
  display: flex;
  margin-bottom: 1.25rem;
  list-style-type: none;
}

.image {
  position: relative;
  width: 9.6rem;
  height: 9.6rem;
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
  object-fit: cover;
}

.video {
  width: 9.6rem;
  height: 9.6rem;
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
  object-fit: cover;
}

.videoIcon {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
}

.imageSelectBar {
  cursor: pointer;
}

.bottom {
  height: 100%;
}
