.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.icon {
  margin-top: 2px;
}

.description {
  flex: 1;
  word-break: keep-all;
}
