.list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.item {
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
}

.icon {
  margin-top: 0.2rem;
}

.description {
  flex: 1;
  word-break: keep-all;
}
