.profileImage {
  width: 13.5rem;
  height: 13.5rem;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 12.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: var(--z-index-profile-image);
  overflow: hidden;
}

.profileImage img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}
