.appBar {
  padding: 1.4rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 60rem;
  background-color: var(--white);
  position: fixed;
  top: 0;
  z-index: 1;
}

.close {
  cursor: pointer;
}

.actions {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
  font-size: 1.6rem;
}
