.appBar {
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: var(--white);
  position: fixed;
  top: 0;
  z-index: 1;
}

.close {
  cursor: pointer;
}

.actions {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
