.post {
  padding: 13px 15px;
  width: 100%;
  background-color: #f8f8f8;
  border-radius: 5px;
}

.post_top {
  display: flex;
  align-items: center;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: -0.5px;
  color: #484848;
  padding-bottom: 9px;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 156px;
  padding-left: 6px;
}

.dot {
  font-weight: 800;
  padding: 0 3px;
}

.post_center {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.title {
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.text {
  font-size: 13px;
  line-height: 150%;
  letter-spacing: -0.5px;
  color: #484848;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 최대 3줄로 제한 */
  -webkit-box-orient: vertical; /* 세로 방향으로 배치 */
  overflow: hidden; /* 넘치는 텍스트 숨기기 */
  text-overflow: ellipsis; /* 넘치는 텍스트를 말줄임표로 표시 */
}

.more_option {
  margin-left: auto;
}

.post_bottom {
  display: flex;
  gap: 5px;
  font-size: 10px;
  padding: 6px 0;
  align-items: center;
  justify-content: end;
}
