.container {
  padding: 0 1.3rem;
  height: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 0.5rem;
  background-color: var(--grey-1-1);

  font: var(--text-body-1-reg);
  color: var(--grey-4);

  &::placeholder {
    color: var(--grey-3-1);
  }
}

.container input {
  outline: none;
  border: none;
  background-color: transparent;
}
