.container {
  padding: 0 1.3rem;
  height: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 0.5rem;

  font: var(--text-body-1-reg);

  &::placeholder {
    color: var(--grey-3-1);
  }
}
.default {
  background-color: var(--grey-1-1);
  color: var(--grey-4);
}
.valid {
  background-color: var(--blue-0);
  color: var(--blue-4);
}
.error {
  background-color: var(--pink-1);
  color: var(--pink-3);
}

.container input {
  outline: none;
  border: none;
  background-color: transparent;
}
