.post {
  padding: 13px 15px;
  width: 100%;
  background-color: var(--gray-1);
  border-radius: 5px;
  cursor: pointer;
}

.post_top {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post_center {
  padding-top: 6px;
}

.text {
  font-size: 13px;
  color: #484848;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.postBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  color: var(--gray-3-1);
  font-size: 11px;
}

.postBottomRight {
  gap: 6px;
  display: flex;
  align-items: center;

  p {
    margin-bottom: 3px;
  }
}
