.post {
  padding: 1.3rem 1.5rem;
  width: 100%;
  background-color: var(--grey-1);
  border-radius: 0.5rem;
  cursor: pointer;
}

.post_top {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 1.6rem;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post_center {
  padding-top: 0.6rem;
}

.text {
  font-size: 1.4rem;
  color: #484848;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.postBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.3rem;
  color: var(--grey-3-1);
  font-size: 1.3rem;
}

.postBottomRight {
  gap: 1rem;
  display: flex;
  align-items: center;

  p {
    margin-bottom: 0.3rem;
  }
}

.iconContainer {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
