.deleteAccountPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.titleDescWrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 14px;
  flex-grow: 1;
}

.title {
  color: var(--black);
  font-size: 20px;
  font-weight: 700;
}

.descWrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5px;
  padding-bottom: 13px;
}

.desc {
  color: var(--gray-4);
  font-size: 14px;
  font-weight: 500;
}

/* 하단 버튼 */
.buttonWrapper {
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  gap: 8px;
  padding: 20px 20px 54px;
}

.goBackButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 47px;
  border-radius: 5px;
  background: var(--blue-1);
  color: var(--blue-3);
  font-size: 14px;
  font-weight: 500;
}

.deleteAccountButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 47px;
  border-radius: 5px;
  background: var(--blue-4);
  color: var(--white);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}
