.layout {
  max-width: calc(100% - 2 * var(--default-margin));
  padding: 5px 12px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: var(--blue-2);
  border-radius: 5px;
  font-size: 12px;
  color: var(--blue-4);
  word-break: keep-all;
}

.name {
  flex: 1;
}
