.layout {
  max-width: calc(100% - 2 * var(--default-margin));
  padding: 0.5rem 1.2rem;

  display: inline-flex;
  align-items: center;
  gap: 1rem;

  background: var(--blue-2);
  border-radius: 0.5rem;

  font: var(--text-body-2-reg);
  color: var(--blue-4);
  word-break: keep-all;
}

.name {
  flex: 1;
}
