.bar {
  width: 100%;
  max-width: var(--default-width);
  /* Default */
  position: fixed;
  bottom: 0;
}
.attachmentBar {
  height: 7rem;
  background-color: var(--blue-1);
  padding: 2.2rem;
  display: flex;
  align-items: center;
}
.image {
  margin-right: 2.4rem;
  cursor: pointer;
}
.imageInput {
  display: none;
}
.videoInput {
  display: none;
}
