.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 44px 0 112px;
  background: linear-gradient(180deg, #f9f9f9 0%, var(--white) 100%);
  padding-top: 28px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  margin-top: 14px;
  font-size: 10px;
  text-align: center;
  color: #6a6a6a;
}

.email {
  font-size: 11px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  display: flex;
  padding: 0 6px;
}
