.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4.4rem 0 11.2rem;
  background: linear-gradient(180deg, #f9f9f9 0%, var(--white) 100%);
  padding-top: 2.8rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  margin-top: 1.4rem;
  font-size: 1rem;
  text-align: center;
  color: #6a6a6a;
}

.email {
  font-size: 1.1rem;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  display: flex;
  padding: 0 0.6rem;
}
