.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.75rem 0 7rem;
  background: linear-gradient(180deg, #f9f9f9 0%, var(--white) 100%);
  padding-top: 1.75rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.375rem;
  margin-top: 0.875rem;
  font-size: 0.625rem;
  text-align: center;
  color: #6a6a6a;
}

.email {
  font-size: 0.6875rem;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  display: flex;
  padding: 0 0.375rem;
}
