.link {
  width: 100%;
}

.item {
  width: 100%;
  padding: 1.3rem 1.5rem;
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;
  background: var(--gray-1);
  border-radius: 0.5rem;
  box-sizing: border-box;
}

/* left */

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.top {
  display: flex;
  align-items: center;
  gap: 0.48rem;
}

.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.7rem;
  font-size: 0.9rem;
  color: var(--gray-4);
}

.dot {
  width: 0.2rem;
  height: 0.2rem;
  display: inline-block;
  border-radius: 1rem;
  background-color: var(--gray-4);
}

.bottom {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  height: 5.2rem;
}

.title {
  margin-bottom: 0.2rem;
  font-weight: 500;
  font-size: 1.2rem;
}

.overview {
  font-size: 1.1rem;
  color: var(--gray-4);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.boardName {
  font-size: 0.8rem;
  color: var(--gray-3-1);
}

/* right */

.right {
  display: flex;
  align-items: flex-end;
}

.right img {
  width: 7.6rem;
  height: 7.6rem;
  border-radius: 0.4rem;
}
