.toast {
  padding: 13px 32px;
  background: rgba(var(--gray-4-rgb), 0.8);
  border-radius: 6px;
  transition: 500ms opacity ease-in-out;
}

.message {
  text-align: center;
  word-break: keep-all;
  font-weight: 500;
  font-size: 12px;
  white-space: pre-wrap;
  color: var(--white);
}
