.toast {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1.5rem 1.8rem;
  transition: 500ms opacity ease-in-out;
  gap: 1rem;
  box-shadow: 0 0 3.6rem 0 rgba(0, 0, 0, 0.1);
}

.icon {
  flex-shrink: 0;
}

.message {
  text-align: center;
  word-break: keep-all;
  white-space: pre-wrap;
  font: var(--text-body-1-reg);
  white-space: nowrap;
}

.error {
  background: var(--pink-1);
  color: var(--pink-3);
}

.info {
  background: var(--blue-2);
  color: var(--blue-4);
}

.success {
  background: var(--green-1);
  color: var(--grey-4);
}
