.container {
  width: 100%;
  padding: 11px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--gray-1-1);
  border-radius: 5px;
}

.search {
  flex: 1;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 12px;
  color: var(--black);
}

.search::placeholder {
  font-size: 12px;
  color: var(--gray-3-1);
}
