.container {
  width: 100%;
  padding: 1.1rem 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background: var(--grey-1-1);
  border-radius: 0.5rem;
}

.search {
  flex: 1;
  outline: none;
  border: none;
  background-color: transparent;
  font: var(--text-body-2-reg);
  color: var(--black);
}

.search::placeholder {
  font: var(--text-body-2-reg);
  color: var(--grey-3-1);
}
