.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0 var(--default-margin);
  gap: 5rem;
}

.verify {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

/* button */
.button {
  height: 5.4rem;
  margin-bottom: 4rem;
}
