.carousel {
  width: 100%;
  display: flex;
  transition: 1s transform ease;
}

.indicator {
  margin: 0.625rem 0;
  display: flex;
  justify-content: center;
  gap: 0.625rem;
}

.dot {
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 10px;
  background-color: #bfd7ec;
}

.dot.current {
  background-color: #00368e;
}
