.carousel {
  width: 100%;
  display: flex;
  transition: 1s transform ease;
}

.indicator {
  margin: 0.625rem 0;
  display: flex;
  justify-content: center;
  gap: 0.625rem;
}

.dot {
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 0.625rem;
  background-color: var(--blue-2);
}

.dot.current {
  background-color: var(--blue-4);
}

.error {
  min-height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-2);
  color: var(--gray-3-1);
}
