.content {
  font-size: 1.2rem;
  color: var(--gray-4);
  font-size: 1.4rem;
  padding: 0 1.3rem 1.7rem 0;
  white-space: pre-wrap;
  word-break: keep-all;
  border-bottom: 0.05rem solid rgba(137, 137, 137, 0.7);

}

.content a {
  color: var(--blue-3);
}

.content a:hover {
  text-decoration: underline;
}
