.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backAppBar {
  background-color: #eaf5fd;
  width: 100%;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 8px;
  /* 양옆 여백 */
  padding: 10px 11px 11px 21px;
  border-radius: 0px 0px 15px 15px;
  background-color: #eaf5fd;
}

.contentTop {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: #898989;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -0.5px;
}

.contentTopLeft {
  display: flex;
  align-items: center;
  gap: 7px;
}

.dot {
  font-weight: 800;
}

.dot3 {
  padding: 10px;
}

.title {
  display: flex;
  align-items: end;
  padding: 8px 0 26px 0;
  gap: 6px;

  p:nth-of-type(1) {
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.5px;
    color: #484848;
  }
  p:nth-of-type(2) {
    white-space: nowrap;
    color: #5f86bf;
    font-size: 11px;
    line-height: 150%;
    letter-spacing: -0.5px;
    padding-bottom: 3px;
  }
}

.text {
  font-size: 12px;
  color: #484848;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.5px;
  padding: 0 13px 15px 0;
  white-space: pre-wrap; /* 줄바꿈과 공백을 유지 */
}

.post_bottom {
  display: flex;
  justify-content: end;
  gap: 12px;
  padding-right: 10px;
}

.count {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 6px;
  color: #898989;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: -0.5px;
}

.comments {
  width: 100%;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -0.5px;
  padding: 0 20px 100px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.commentsTitle {
  padding: 9px 0 2px 0;
}
