.content {
  font-size: 12px;
  color: var(--gray-4);
  font-size: 14px;
  padding: 0 13px 15px 0;
  white-space: pre-wrap;
  word-break: keep-all;
}

.content a {
  color: var(--blue-3);
}

.content a:hover {
  text-decoration: underline;
}
