.content {
  flex: 1;
  margin: 0 var(--default-margin);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.terms {
  flex: 1;
  margin-bottom: 1.4rem;
  padding: 1.4rem;
  background: var(--gray-1-1);
  border-radius: 0.5rem;
}

.text {
  word-break: keep-all;
  text-wrap: wrap;
  font-size: 1.4rem;
  color: var(--gray-4);
}

.item {
  margin-left: 1rem;
}
