.container {
  height: 100vh;

  padding-top: var(--default-appbar-height);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pageTopFrame,
.pageMiddleFrame,
.pageBottomFrame {
  padding: 0 var(--default-margin);
}

.pageTitle {
  font: var(--text-title-1-bold);
}

.pageExplanation {
  font: var(--text-headline-2-reg);
  color: var(--grey-4);
  margin-top: 1.4rem;
}

.pageSubExplanation {
  font: var(--text-headline-2-reg);
  color: var(--grey-3-1);
  margin-top: 1.6rem;
}

.pageBottomFrame {
  display: flex;
  flex-direction: column;
}

.bodyFrame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.resultFrame {
  display: flex;
  flex-direction: column;
  margin-top: 1.6rem;
}

.result {
  margin-top: 1;
  font: var(--text-title-1-bold);
  color: var(--blue-4);
}

.dot {
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 0.7rem;
}

.first {
  background-color: var(--blue-2);
}

.second {
  background-color: var(--blue-3);
}

.third {
  background-color: var(--blue-4);
}

.pageMiddleFrame {
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration {
  width: 25rem;
  height: 25rem;
  flex-shrink: 0;
  padding-left: 1.8rem;
}

.loginButton {
  margin-bottom: 1.2rem;
}

.findPWButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.3rem;
  color: var(--grey-4);
}
