.pageFrame {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.pageTopFrame {
  padding: 0 20px;
}

.pageTitle {
  font-size: 20px;
  font-weight: 700;
  margin-top: 51.2px;
}

.pageExplanation {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-4);
  margin-top: 14px;
}

.pageBottomFrame {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.bodyFrame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.resultFrame {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.result {
  margin-top: 9.6px;
  font-size: 25.008px;
  font-weight: 700;
  color: var(--blue-4);
}

.dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 7.008px;
}

.first {
  background-color: var(--blue-2);
}

.second {
  background-color: var(--blue-3);
}

.third {
  background-color: var(--blue-4);
}

.pageMiddleFrame {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginButton {
  margin-bottom: 18px;
}

.findPWButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 46px;
  color: var(--gray-4);
  font-size: 12px;
}
