.button {
  width: 100%;
  padding: 0.9rem 0;
  background: var(--gray-2);
  border-radius: 0.5rem;
  font-size: 1.3rem;
  color: var(--gray-4);
}

.select {
  background: var(--blue-4);
  color: var(--white);
}
