.button {
  width: 100%;
  padding: 0.9rem 0;
  background: var(--grey-2);
  border-radius: 0.5rem;
  font-size: 1.3rem;
  color: var(--grey-4);
}

.select {
  background: var(--blue-4);
  color: var(--white);
}
