.logo {
  margin: 6.4rem var(--default-margin) 2.6rem var(--default-margin);
}

.container {
  margin: 0 var(--default-margin) 10rem var(--default-margin);
  border-radius: 0.5rem;
}

/* 스노로즈 소개 */

.aboutUs {
  white-space: pre-wrap;
  word-break: keep-all;
}

/* 명예의 전당 */

.hallOfFame {
  border: 0.05rem solid var(--blue-2);
  border-radius: 0.5rem;
}

.hallOfFame img {
  margin: 0 auto;
  width: 80%;
}

.hallOfFame .tags {
  margin: 0 0.8rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.6rem;
}
