.logo {
  margin: 64px var(--default-margin) 26px var(--default-margin);
}

.container {
  margin: 0 var(--default-margin) 100px var(--default-margin);
  padding: 0 14px;
  background: var(--blue-0);
  border-radius: 5px;
}

/* 스노로즈 소개 */

.aboutUs {
  white-space: pre-wrap;
  word-break: keep-all;
}

/* 명예의 전당 */

.hallOfFame {
  background: var(--blue-1);
  border-radius: 5px;
}

.hallOfFame img {
  margin: 0 auto;
  width: 80%;
}

.hallOfFame .tags {
  margin: 0 8px;
  padding-bottom: 20.48px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6.4px;
}

.apply {
  margin-top: 10px;
}
