.pointBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  background: var(--grey-1-1);
  padding: 1.4rem;
}

.pointIconContentWrapper {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.pointContent {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.pointTitle {
  color: var(--blue-4);
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 0.2rem;
}

.pointDescription {
  color: var(--grey-4);
  font-size: 1.3rem;
}

.pointDate {
  color: var(--grey-3-1);
  font-size: 1.3rem;
}

.chargePoint {
  color: var(--blue-4);
  font-size: 1.6rem;
  font-weight: 500;
}

.negative {
  color: var(--pink-3);
}
