.pointBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  background: var(--grey-1-1);
  padding: 1.4rem;
  gap: 1.4rem;
}

.pointIconContentWrapper {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.pointIcon {
  flex-shrink: 0;
}

.pointContent {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.pointTitle {
  padding-bottom: 0.2rem;
  color: var(--blue-4);
  font: var(--text-body-1-med);
}

.pointDescription {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--grey-4);
  font: var(--text-body-2-reg);
}

.pointDate {
  color: var(--grey-3-1);
  font: var(--text-body-2-reg);
}

.chargePoint {
  color: var(--blue-4);
  font: var(--text-headline-2-med);
}

.negative {
  color: var(--pink-3);
}
