.deleteAccountPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.titleDescWrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.4rem;
  flex-grow: 1;
}

.title {
  color: var(--black);
  font-size: 2rem;
  font-weight: 700;
}

.descWrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.5rem;
  padding-bottom: 1.3rem;
}

.desc {
  color: var(--gray-4);
  font-size: 1.4rem;
  font-weight: 500;
}

/* 하단 버튼 */
.buttonWrapper {
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  gap: 0.8rem;
  padding: 2rem 2rem 5.4rem;
}

.goBackButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.7rem;
  border-radius: 0.5rem;
  background: var(--blue-1);
  color: var(--blue-3);
  font-size: 1.4rem;
  font-weight: 500;
}

.deleteAccountButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.7rem;
  border-radius: 0.5rem;
  background: var(--blue-4);
  color: var(--white);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
}
