.container {
  height: 100vh;

  padding-top: var(--default-appbar-height);
}

.notificationBar {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem var(--default-margin);
  border-radius: 0.5rem;
  background-color: var(--pink-1);
  padding: 1.2rem 1.5rem;

  font: var(--text-body-1-reg);
  color: var(--pink-3);

  cursor: pointer;
}

.search {
  width: calc(100% - 2rem * 2);
  margin: 0 2rem 1rem 2rem;
}
