.container {
  padding-bottom: 112px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.notification {
  width: 100%;
  padding: 10px var(--default-margin);
  padding-top: 64px;
}

.notificationBar {
  width: 100%;
  padding: 11.008px 15.008px;
  display: flex;
  align-items: center;
  gap: 13.776px;
  border-radius: 5px;
  background-color: var(--pink-1);
  font-size: 11.008px;
  color: var(--pink-3);
  box-sizing: border-box;
  cursor: pointer;
}

.search {
  width: calc(100% - 20px * 2);
  margin: 0 20px 10px 20px;
}
