.pageFrame {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.pageTopFrame {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.pageTitle {
  font-size: 20px;
  font-weight: 700;
  margin-top: 51.2px;
  margin-bottom: 13.008px;
}

.pageSubtitle {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-4);
  margin-bottom: 13.008px;
}

.pageExplanation {
  font-size: 12px;
  color: var(--gray-3-1);
  margin-bottom: 16px;
}

.pageMiddleFrame {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageBottomFrame {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.resultFrame {
  display: flex;
  flex-direction: column;
}

.result {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: var(--blue-4);
  margin-top: 8px;
}

.result p {
  margin-right: 10.192px;
}

.dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 7.008px;
}

.first {
  background-color: var(--blue-2);
}

.second {
  background-color: var(--blue-3);
}

.third {
  background-color: var(--blue-4);
}

.img {
  width: 239.008px;
  height: 258px;
  margin-bottom: 30px;
  margin-left: auto;
}

.loginButton {
  margin-bottom: 34px;
}

.findPWButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 46px;
  color: var(--gray-4);
  font-size: 12px;
}
