.pageFrame {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.pageTopFrame {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

.pageTitle {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 5.1rem;
  margin-bottom: 1.3rem;
}

.pageSubtitle {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--grey-4);
  margin-bottom: 1.3rem;
}

.pageExplanation {
  font-size: 1.2rem;
  color: var(--grey-3-1);
  margin-bottom: 1.6rem;
}

.pageMiddleFrame {
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration {
  width: 20.3rem;
  height: 16.9rem;
  flex-shrink: 0;
  padding-left: 1.8rem;
}

.pageBottomFrame {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

.resultFrame {
  display: flex;
  flex-direction: column;
}

.result {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  color: var(--blue-4);
  margin-top: 0.8rem;
}

.result p {
  margin-right: 1rem;
}

.dot {
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 0.7rem;
}

.first {
  background-color: var(--blue-2);
}

.second {
  background-color: var(--blue-3);
}

.third {
  background-color: var(--blue-4);
}

.img {
  width: 24rem;
  height: 25.8rem;
  margin-bottom: 3rem;
  margin-left: auto;
}

.loginButton {
  margin-bottom: 3.4rem;
}

.findPWButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4.6rem;
  color: var(--grey-4);
  font-size: 1.2rem;
}
