.container {
  padding-top: var(--default-appbar-height);
  height: 100vh;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.contentWrapper {
  flex: 1;
  padding: 0 var(--default-margin) 5.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 0;
}

.title {
  font-size: 2rem;
  font-weight: 700;
}
