.pageFrame {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  padding: 0 2rem;
}

.pageFrame form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.findIdFrame {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.back {
  margin-top: 1.4rem;
  margin-bottom: 2.7rem;
}
.back:hover {
  cursor: pointer;
}

.pageTitle {
  font-size: 2.4rem;
  font-weight: 700;
  margin-top: 1.4rem;
  margin-bottom: 5.1rem;
}

.inputFrame {
  margin-bottom: 2.4rem;
}

.alert {
  font-size: 1.4rem;
  color: grey;
  line-height: 130%;
  word-break: keep-all;
}
.alert ul {
  list-style-type: circle;
  padding-left: 2rem;
}

.alert a {
  color: var(--blue-3);
}
.highlight {
  color: var(--blue-3);
}
.googleFormBtn {
  width: 8.5rem;
  height: 3.6rem;
  border-radius: 0.5rem;
  border: solid 0.1rem var(--grey-3);
  margin-top: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}

.findIDButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--grey-4);
  font-size: 1.2rem;
  margin-top: 1.2rem;
  margin-bottom: 3.3rem;
}
