.container {
  height: 100%;

  padding-top: var(--default-appbar-height);

  overflow-y: scroll;
}

.container form {
  height: 100%;

  margin: 0 var(--default-margin);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.findIdFrame {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pageTitle {
  font: var(--text-title-1-bold);
  margin-top: 1.4rem;
  margin-bottom: 5.1rem;
}

.form {
  margin-bottom: 2.4rem;

  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.alert {
  font: var(--text-body-1-reg);
  color: grey;
  word-break: keep-all;

  & ul {
    list-style-type: circle;
    padding-left: 2rem;
  }

  & a {
    color: var(--blue-3);
  }
}

.highlight {
  color: var(--blue-3);
}

.googleFormBtn {
  width: 8.5rem;
  height: 3.6rem;
  border-radius: 0.5rem;
  border: solid 0.1rem var(--grey-3);
  margin-top: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}

.buttonFrame {
  margin-bottom: 4rem;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
