.tab {
  flex-shrink: 0;

  height: 3.2rem;

  display: inline-flex;
  align-items: center;
  padding: 0 2rem;

  border-radius: 2rem;
  cursor: pointer;

  &.selected {
    background: var(--gradient-4);

    font: var(--text-body-1-med);
    color: var(--blue-4);
  }

  &.unselected {
    background-color: var(--grey-2);

    font: var(--text-body-1-reg);
    color: var(--grey-3-1);
  }
}
