.item {
  padding: 6px;
  border-bottom: 0.5px solid #c7c7c7;
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
}

.item:last-child {
  border-bottom: none;
}

.top {
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.profile {
  width: 9px;
  height: 9px;
}

.nickname {
  font-weight: 500;
  font-size: 5px;
  line-height: 7px;
}

.timeAgo {
  font-weight: 400;
  font-size: 5px;
  line-height: 7px;
}

.middle {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 500;
  font-size: 6px;
  line-height: 9px;
}

.overview {
  width: 200px;
  font-weight: 350;
  font-size: 6px;
  line-height: 9px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.boardName {
  font-weight: 400;
  font-size: 4.5px;
  line-height: 7px;
  color: #6a6a6a;
}
