.pageFrame {
  height: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon {
  margin-top: 53.008px;
  margin-bottom: 19.008px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.img {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  margin-top: 30px;
  margin-bottom: 34px;
}
