.container {
  height: 100%;
  padding: 0 var(--default-margin);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon {
  margin-top: 5.3rem;
  margin-bottom: 1.9rem;
}

.title {
  font: var(--text-title-1-bold);
  margin-bottom: 0.6rem;
}

.explanation {
  font: var(--text-headline-2-reg);
  color: var(--grey-4);
}

.img {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration {
  width: 25rem;
  height: 25rem;
  flex-shrink: 0;
}

.submit {
  margin-top: 3rem;
  margin-bottom: 3.9rem;
}
