.pageFrame {
  height: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon {
  margin-top: 5.3rem;
  margin-bottom: 1.9rem;
}

.title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
}

.explanation {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--grey-4);
}

.img {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration {
  width: 25rem;
  height: 25rem;
  flex-shrink: 0;
}

.submit {
  margin-top: 3rem;
  margin-bottom: 3.9rem;
}
