.container {
  width: 100%;
  height: 100vh;
  background-color: var(--blue-0);
}

.top {
  width: 100%;
  padding-top: 5.2rem;
}

.center {
  padding: 0 2rem;
  background-color: var(--blue-0);
}

.categorySelect {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0 1.5rem 0;
  border-bottom: 0.05rem solid var(--grey-3-1);
  stroke-width: 0.05rem;
  cursor: pointer;
}

.categorySelectContainer {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.categorySelectText {
  font: var(--text-headline-1-med);
}

.profileBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.2rem 0 1.8rem 0;
  color: var(--grey-3-1);
  font: var(--text-body-1-reg);
}

.profileBoxLeft {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.logoIcon {
  width: 2.5rem;
  height: 1.6rem;
}

.badge {
  width: 2.4rem;
  height: 2.4rem;
}

.profileBoxRight {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  color: var(--black);
  cursor: pointer;
}

.profileBoxRightInvisible {
  display: none;
  cursor: pointer;
}

.dot {
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background-color: var(--grey-3-1);
}

.bottom {
  height: 100%;
}

.form {
  padding-bottom: 2rem;
}
