.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 1.4rem;
  border-radius: 0.5rem;
  cursor: pointer;

  &.read {
    background-color: var(--grey-1-1);

    .title,
    .content {
      color: var(--grey-4);
    }
  }

  &.unread {
    background: var(--gradient-4);

    .title,
    .content {
      color: var(--blue-4);
    }
  }
}

/* top */

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }
}

.title {
  font: var(--text-body-1-med);
}

.createdAt {
  font: var(--text-body-1-reg);
  color: var(--grey-3-1);
}

/* bottom */

.content {
  font: var(--text-body-1-reg);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* chip */

.category {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 2rem;
  padding: 0.1rem 0.4rem;

  border-radius: 0.5rem;
  background: var(--gradient-2);

  font: var(--text-body-2-reg);
  color: var(--blue-4);
}
