.container {
  height: 100vh;

  padding-top: var(--default-appbar-height);

  background-color: var(--blue-0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.center {
  padding: 0 2rem 4rem 2rem;
  background-color: var(--blue-0);
}

.categorySelect {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0 1.5rem 0;
  border-bottom: 0.05rem solid var(--grey-3-1);
  stroke-width: 0.05rem;
}

.categorySelectContainer {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.categorySelectText {
  font: var(--text-headline-1-med);
}

.profileBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.2rem 0 1.8rem 0;
  color: var(--grey-3-1);
  font: var(--text-body-1-reg);
}

.profileBoxLeft {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.logoIcon {
  width: 2.5rem;
  height: 1.6rem;
}

.badge {
  width: 2.4rem;
  height: 2.4rem;
}

.profileBoxRight {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  color: var(--black);
}

.profileBoxRightInvisible {
  display: none;
}

.dot {
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background-color: var(--grey-3-1);
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 3.6rem;
  padding-bottom: 5rem;
}

.title {
  color: var(--grey-4);
  font: var(--text-title-1-bold);
  outline: none;
  border: none;
  background-color: transparent;
  display: block;
  width: 100%;
  resize: none;
}

.text {
  color: var(--grey-4);
  font: var(--text-headline-2-reg);
  outline: none;
  border: none;
  background-color: transparent;
  display: block;
  width: 100%;
  min-height: 10rem;
  resize: none;
  white-space: pre-wrap; /* 줄바꿈과 공백을 유지 */
}

.trashInvisible {
  opacity: 0%;
  pointer-events: all;
  width: fit-content;
  position: fixed;
  bottom: 10.2rem;
  left: 50%;
  transform: translate(-50%, 0);
}
.trashVisible {
  opacity: 100%;
  pointer-events: all;
  width: fit-content;
  position: fixed;
  bottom: 10.2rem;
  left: 50%;
  transform: translate(-50%, 0);
}
