.comment {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background: var(--gray-1);
}

.commentTop {
  width: 100%;
  padding: 0.6rem 0 0.4rem 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray-3-1);
  font-size: 1.1rem;
}

.commentTopLeft {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.cloud {
  display: flex;
  height: 1.2rem;
  align-items: center;
}

.isWriterWithdrawn {
  color: var(--gray-3-1);
}

.dot {
  width: 0.3rem;
  height: 0.3rem;
  background: var(--gray-3-1);
  border-radius: 100%;
}

.dot3 {
  padding: 2rem 1.4rem 0.2rem 1rem;
  cursor: pointer;
}

.commentCenter {
  color: var(--gray-4);
  font-size: 1.4rem;
  padding: 0 1.4rem;
  white-space: pre-wrap;
}

.commentCenter.hide {
  color: var(--gray-3-1);
}

.content a {
  color: var(--blue-3);
}

.content a:hover {
  text-decoration: underline;
}

.commentBottom {
  min-height: 4rem;
  margin-right: 0.8rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.commentCount {
  padding: 0.4rem 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  border-radius: 0.5rem;
  color: var(--gray-3-1);
  background-color: transparent;
  font-size: 1.1rem;
}

.commentCount:hover {
  background-color: var(--gray-1-1);
}

.likedCount {
  padding: 0.4rem 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  color: var(--gray-3-1);
  background-color: transparent;
  font-size: 1.1rem;
}

.likedCount:hover {
  background-color: var(--gray-1-1);
}

.nestedComment {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--gray-2);
}

.nestedComment.isLast {
  padding-bottom: 0.6rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

.nestedCommentTop {
  width: 100%;
  padding: 1rem 0 0 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray-3-1);
  font-size: 1.1rem;
}

.nestedIcon {
  display: flex;
  width: 1.6rem;
  padding-bottom: 1rem;
}

.nestedPadding {
  width: 100%;
  padding-left: 2.2rem;
}

.nestedPadding.hide {
  color: var(--gray-3-1);
}
