.item {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #d9d9d9;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.5px;
}

.item:last-child {
  border: none;
}

.tag {
  margin-right: 14px;
  flex-shrink: 0;
  font-size: 12px;
  letter-spacing: -0.5px;
  color: #898989;
}

.value {
  font-size: 14px;
  color: #484848;
}

.flexStart {
  align-self: flex-start;
}
