.dim {
  width: 100vw;
  max-width: var(--default-width);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: var(--z-index-sidebar);
  background: rgba(228, 228, 228, 0.6);
  backdrop-filter: blur(1rem);
  /* Note: backdrop-filter has minimal browser support */
}

.sidebar {
  overflow-y: auto;

  width: 80%;
  height: 100%;
  padding-left: 3rem;
  position: absolute;
  right: 0;
  border-radius: 1.5rem 0 0 0;
  background-color: var(--white);
}

.logo {
  position: sticky;
  top: 0;

  display: inline-block;
  width: 100%;
  padding: 0.6rem 0;
  margin-top: 2rem;

  background-color: white;
}

.title {
  margin: 2rem 0;

  font: var(--text-headline-1-bold);

  color: var(--grey-4);
}

.title:hover {
  color: var(--blue-3);
}

/* menu list */
.list {
  display: flex;
  flex-direction: column;
  padding-left: 1.3rem;
}

.item {
  font: var(--text-headline-2-reg);

  color: var(--grey-4);
}

.item li {
  padding: 0.6rem 0;
}

.item > li:hover {
  color: var(--blue-3);
}

.item:first-child > li {
  padding-top: 0;
}

.item:last-child > li {
  padding-bottom: 0;
}
