.dim {
  width: 100vw;
  max-width: var(--default-width);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background: rgba(228, 228, 228, 0.6);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
}

.sidebar {
  width: 80%;
  height: 100%;
  padding: 20px 0 0 30px;
  position: absolute;
  right: 0;
  border-radius: 16px 0 0 0;
  background-color: var(--white);
}

.logo {
  display: inline-block;
  margin-bottom: 20px;
}

.title {
  margin: 16px 0;
  font-weight: 700;
  font-size: 16px;
  color: var(--gray-4);
}

.title:hover {
  color: var(--blue-3);
}

.menuList {
  font-size: 14px;
  color: var(--gray-4);
}

/* menu list */
.list {
  padding-left: 16px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.item {
  font-weight: 500;
}

.item li {
  padding: 6px 0;
}

.item > li:hover {
  color: var(--blue-3);
}

.item:first-child > li {
  padding-top: 0;
}

.item:last-child > li {
  padding-bottom: 0;
}
