.appBar {
  padding: 1.4rem 2rem;
  width: 100%;
  max-width: 60rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  position: fixed;
  top: 0;
  z-index: 1;
}

.title {
  font: var(--text-headline-1-bold);
}
