.appBar {
  position: fixed;
  top: 0;
  z-index: var(--z-index-appbar);

  width: 100%;
  max-width: 60rem;
  height: var(--default-appbar-height);

  padding: 0 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--white);
}

.title {
  font: var(--text-headline-1-bold);
}
