.submitBtn {
  width: 100%;
  height: 4.7rem;
  font-weight: 500;
  font-size: 1.4rem;
  border-radius: 0.5rem;
}

.ready,
.wrong {
  background-color: var(--blue-1);
  color: var(--blue-3);
  pointer-events: none;
}

.right {
  background-color: var(--blue-4);
  color: var(--white);
}
