.submitBtn {
  width: 100%;
  height: 47.008px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 5px;
}

.ready,
.wrong {
  background-color: var(--blue-1);
  color: var(--blue-3);
  pointer-events: none;
}

.right {
  background-color: var(--blue-4);
  color: var(--white);
}
