/* hover 케이스가 variant에 왜 없지? */
/* disabled 케이스가 small에 없는게 맞는가 */

/* common */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  border-radius: 0.5rem;

  &:disabled {
    cursor: not-allowed;
  }
}

/* size */
.medium {
  width: 100%;
  height: 5.4rem;

  font: var(--text-headline-2-med);
}

.small {
  height: 3.6rem;
  padding: 0 1.5rem;

  font: var(--text-body-1-reg);
}

/* variant */
.solid {
  color: var(--white);
  background-color: var(--blue-4);
}
.solid:disabled {
  color: var(--blue-3);
  background-color: var(--blue-1);
}

.outlined {
  color: var(--blue-4);

  background-color: var(--white);
  border: 1px solid var(--blue-4);

  &:disabled {
    color: var(--blue-3);
    border-color: var(--blue-2);
  }
}

.outlinedSecondary {
  color: var(--blue-4);

  background-color: var(--white);
  border: 1px solid var(--grey-3);
}
