.container {
  flex: 1;

  margin-bottom: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font: var(--text-title-1-bold);
  margin-bottom: 0.6rem;
}

.text {
  font: var(--text-headline-2-reg);
  color: var(--grey-4);
  margin-bottom: 2.3rem;
}
