.title {
  font: var(--text-title-1-bold);
  margin-bottom: 0.6rem;
}

.text {
  font: var(--text-headline-2-reg);
  color: var(--grey-4);
  margin-bottom: 2.4rem;
}

.submit {
  margin-bottom: 3.4rem;
}
