.pageFrame {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 2rem;
  font-weight: 700;
}

.text {
  margin-bottom: 2.7rem;
}

.submit {
  margin-bottom: 3.4rem;
}
