.top {
  width: 100%;
  padding-bottom: 23px;
  display: flex;
  flex-direction: column;
  background-color: #eaf5fd;
  border-radius: 0px 0px 15px 15px;
}

.displayBox {
  margin: 12px var(--default-margin) 4px var(--default-margin);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -0.5px;
  color: #898989;
}

.displayBoxLeft {
  display: flex;
  align-items: center;
}

.cloudIcon {
  margin-right: 7px;
}

.checkCircleIcon {
  margin-left: 10px;
}

.dot {
  width: 3px;
  height: 3px;
  margin: 0 8px;
  background: #898989;
  border-radius: 100%;
}

.title {
  margin: 0 var(--default-margin);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.5px;
}

.content {
  padding: 2px 13px;
  margin: 23px var(--default-margin);
  background: #ffffff;
  border-radius: 5px;
}

.fileDownload {
  margin: 0 var(--default-margin) 0 auto;
}

.actions {
  margin: 15px var(--default-margin) 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: -0.5px;
  color: #898989;
}

.action {
  padding: 4px 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 5px;
  cursor: pointer;
}

.action:hover {
  background-color: #ffffffcc;
}

.comment {
  margin-top: 1px;
}
