.viewPointListPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  padding: 0 1.25rem 3.375rem 1.25rem;
  width: 100%;
  padding-top: 2.813rem;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  padding: 0.875rem 0;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
}

.totalPointWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  svg {
    width: 1rem;
    height: 1rem;
  }
}

.totalPoint {
  color: var(--blue-4);
  font-size: 0.875rem;
  font-weight: 500;
}

/* 포인트 내역 */
.pointListContainer {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.pointBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.3125rem;
  background: var(--gray-1-1);
  padding: 0.9375rem;
}

.pointIconContentWrapper {
  display: flex;
  align-items: center;
  gap: 0.9375rem;

  svg {
    width: 1.625rem;
    height: 1.4375rem;
  }
}

.pointContent {
  display: flex;
  flex-direction: column;
  gap: 0.1875rem;
}

.pointTitle {
  color: var(--blue-4);
  font-size: 0.75rem;
  font-weight: 500;
}

.pointDesc {
  color: var(--gray-4);
  font-size: 0.5625rem;
}

.pointDate {
  color: var(--gray-3-1);
  font-size: 0.5625rem;
}

.chargePoint {
  color: var(--blue-4);
  font-size: 0.875rem;
  font-weight: 500;
}

.negative {
  color: var(--pink-3);
}
