/* 모달 공통 스타일 */
.dim {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 1;
  width: 100vw;
  max-width: var(--default-width);
  height: 100vh;
  justify-content: center;
  transform: translateX(-50%);
  background: rgba(228, 228, 228, 0.6);
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  /* Note: backdrop-filter has minimal browser support */
}

.container {
  border-radius: 1rem;
  background: var(--white);
}

.top {
  display: flex;
  justify-content: center;
  padding: 1.6rem 0;
  border-bottom: 0.05rem solid var(--grey-2);
}

/* OptionModal: 옵션이 있는 모달 스타일 */

.title {
  color: var(--pink-3);
  font-size: 1.6rem;
  font-weight: 500;
}

.center {
  padding-top: 2.4rem;
}

.bottom {
  display: flex;
  justify-content: end;
  padding: 0.6rem 2.8rem 1rem 2.8rem;
}

.leftCloseBtn {
  padding: 1rem;
  color: var(--grey-3-1);
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}

.options {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  padding: 0 3rem;
}

.optionBar {
  display: flex;
  gap: 1.5rem;
  padding: 0.4rem 0;
  cursor: pointer;
}

.iconBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
}

.optionText {
  color: var(--grey-4);
  font-size: 1.4rem;
}

/* DeleteModal: 삭제 모달 스타일 */

.noBottomLineTop {
  display: flex;
  justify-content: center;
  padding: 1.6rem 0 0 0;
}

.deleteCenter {
  display: flex;
  color: var(--grey-4);
  justify-content: center;
  color: var(--grey-4);
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

.deleteOrBack {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey-3-1);
  font-size: 1.4rem;
  font-weight: 500;
  gap: 8rem;
  padding: 0.2rem 0 1rem 0;
}

.redBtn {
  color: var(--pink-3);
  padding: 1rem;
  cursor: pointer;
}

.greyBtn {
  padding: 1rem;
  cursor: pointer;
}

/*ChoiceModal: 옵션 있는 모달 디자인이긴하나, OptionModal과 다르게 생김*/
.choiceTitle {
  display: flex;
  justify-content: center;
  padding: 2.3rem 0;
}

.choiceOptions {
  height: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  border-top: 0.1rem solid var(--grey-2);
}

.choiceOptions:hover {
  background-color: var(--grey-2);
}
.choiceOptions:last-child:hover {
  border-radius: 0 0 1rem 1rem;
}
