.infoWrapper {
  display: flex;
  flex-direction: column;
  padding: 0.4rem 1.3rem;
  margin: 0 2rem;
  border-radius: 0.5rem;
  background: var(--grey-1);
}

/* 내 활동, 이용안내 */
.itemList {
  border-bottom: 0.1rem solid var(--grey-3);

  &:last-child {
    border-bottom: none;
  }
}

.itemList:last-child {
  border-bottom: none;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0;
  color: var(--grey-4);
  font-size: 1.4rem;
  font-weight: 500;

  svg {
    width: 1.6rem;
    height: 1.6rem;
  }
}
