.label {
  display: inline-block;
  margin-bottom: 0.6rem;

  font: var(--text-headline-2-med);

  color: var(--grey-4);
}

.input {
  width: 100%;
  height: 5rem;
  padding: 0 1.3rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;

  font: var(--text-body-1-reg);

  background: var(--grey-1-1);
}

.input::placeholder {
  color: var(--grey-3-1);
}

.input.isInvalid {
  background: var(--pink-1);
  color: var(--pink-3);
}

.errorMessage {
  margin-top: 0.3rem;

  font: var(--text-body-1-reg);

  color: var(--pink-3);
}
