.label {
  margin-bottom: 6px;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  color: var(--gray-4);
}

.input {
  width: 100%;
  padding: 12px 0 11px 13px;
  background: var(--gray-1-1);
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 12px;
}

.input::placeholder {
  color: var(--gray-3-1);
}

.input.isInvalid {
  background: var(--pink-1);
  color: var(--pink-3);
}

.errorMessage {
  margin-top: 3px;
  font-size: 11px;
  color: var(--pink-3);
}
