.main {
  height: 94%;
  display: flex;
  flex-direction: column;
}

.indicator {
  margin: 0.9rem var(--default-margin) 2.8rem var(--default-margin);
  display: flex;
  gap: 1.1rem;
}

.check {
  margin: 1.3rem var(--default-margin) 1.9rem
    calc(var(--default-margin) - 0.3rem);
}

.dot {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 100%;
  background-color: var(--grey-2);
}

.dot.select {
  background: var(--blue-4);
}

.title {
  margin: 0 var(--default-margin) 1.6rem var(--default-margin);

  font: var(--text-title-1-bold);
  white-space: pre-line;
}

.description {
  margin: 0 var(--default-margin) 2.7rem var(--default-margin);

  font: var(--text-headline-2-reg);
  white-space: pre-line;
  word-break: keep-all;

  color: var(--grey-4);
}
