.header {
  margin-bottom: 1.25rem;
}

.cards {
  margin: 1.5rem var(--default-margin) 1.75rem var(--default-margin);
}

.notice {
  flex: 2;
}

.mark {
  flex: 3;
}

.community {
  margin-bottom: 25px;
}
