.cards {
  margin: 1.5rem var(--default-margin) 1.75rem var(--default-margin);
  display: flex;
  justify-content: space-between;
  gap: 0.45rem;
}

.notice {
  flex: 2;
}

.mark {
  flex: 3;
}

.community {
  margin-bottom: 25px;
}
