.chip {
  padding: 0.1rem 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.6rem;
  color: var(--grey-3-1);
  border-radius: 0.5rem;
  background: var(--grey-2);

  &.inProgress {
    background: var(--gradient-2);
    color: var(--blue-4);
  }
}
