.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  padding-top: 6.4rem;
  overflow-y: auto;
}

.top {
  width: 100%;
  padding: 0 var(--default-margin) 1rem var(--default-margin);
}

.notification_bar {
  width: 100%;
  padding: 1.1rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  border-radius: 0.5rem;
  background-color: var(--pink-1);
  /* font-size: 1.1rem; */
  font-size: 1.3rem;
  color: var(--pink-3);
  box-sizing: border-box;
  cursor: pointer;
}

.side_menu_btn {
  width: 2rem;
  height: 1.5rem;
  display: flex;
}

.notification_icon {
  width: 1rem;
  height: 1.3rem;
  display: flex;
}

.to {
  width: 100%;
}

.keyword_box {
  display: flex;
  width: 100%;
  justify-content: baseline;
}

.keyword {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 1.4rem;
  border-radius: 2rem;
  background: var(--blue-0);
  margin-right: 0.5rem;
  color: var(--blue-3);

  p {
    font-size: 1.1rem;
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  /* 양옆 여백 */
  padding: 0.4rem 1.6rem 19.2rem 1.6rem;
  row-gap: 0.8rem;
}

.writeButton {
  bottom: 1.9rem;
}
