.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 8px;
  padding-top: 64px;
  overflow-y: auto;
}

.top {
  width: 100%;
  padding: 0 var(--default-margin) 10px var(--default-margin);
}

.notification_bar {
  width: 100%;
  padding: 11.008px 15.008px;
  display: flex;
  align-items: center;
  gap: 13.776px;
  border-radius: 5px;
  background-color: var(--pink-1);
  /* font-size: 11.008px; */
  font-size: 13px;
  color: var(--pink-3);
  box-sizing: border-box;
  cursor: pointer;
}

.side_menu_btn {
  width: 20px;
  height: 15px;
  display: flex;
}

.notification_icon {
  width: 10.608px;
  height: 12.656px;
  display: flex;
}

.to {
  width: 100%;
}

.keyword_box {
  display: flex;
  width: 100%;
  justify-content: baseline;
}

.keyword {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 14px;
  border-radius: 20px;
  background: var(--blue-0);
  margin-right: 5px;
  color: var(--blue-3);

  p {
    font-size: 11px;
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 8px;
  /* 양옆 여백 */
  padding: 4px 16px 192px 16px;
  row-gap: 8px;
}

.writeButton {
  bottom: 19px;
}
