.loading {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerBox {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  font-size: 1.3rem;
}

.icon {
  animation: rotateAndPause 1s linear infinite;
}

.iconStatic {
  animation: none;
}

@keyframes rotateAndPause {
  0% {
    transform: rotate(180deg);
  }

  15% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
