.pageFrame {
  width: 100%;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.pageTopFrame {
  padding: 0 20px;
}

.pageTitle {
  font-size: 20px;
  font-weight: 700;
  margin-top: 51.2px;
}

.pageExplanation {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-4);
  margin-top: 14px;
}

.pageMiddleFrame {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageBottomFrame {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.img {
  width: 212px;
  height: 232px;
  margin-bottom: 30px;
  margin-left: auto;
}

.loginButton {
  margin-bottom: 33.008px;
}
