.selectedItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  gap: 1rem;
}

.select {
  padding: 1.6rem 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: var(--text-body-1-reg);
  color: var(--black);
  background: var(--grey-1-1, #f4f4f4);
  border-radius: 5px;
}

.select:hover {
  cursor: pointer;
}

.unselect {
  color: var(--grey-3-1);
}

.placeholder {
  color: var(--grey-3-1);
}
