/* 모달 공통 스타일 */
.dim {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 1000;
  width: 100vw;
  max-width: var(--default-width);
  height: 100vh;
  justify-content: center;
  transform: translateX(-50%);
  background: rgba(228, 228, 228, 0.6);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
}

.container {
  width: 288px;
  border-radius: 10px;
  background: #fff;
}

.top {
  display: flex;
  justify-content: center;
  padding: 16px 0;
  border-bottom: 0.5px solid #f0f0f0;
}

/* OptionModal: 옵션이 있는 모달 스타일 */

.title {
  color: var(--Pink-2, #ff4b6c);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.5px;
}

.center {
  padding-top: 24px;
}

.bottom {
  display: flex;
  justify-content: end;
  padding: 6px 28px 10px 28px;
}

.leftCloseBtn {
  padding: 10px;
  color: var(--Grey-3-1, #898989);
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.5px;
  cursor: pointer;
}

.options {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 0 30px;
}

.optionBar {
  display: flex;
  gap: 15px;
  padding: 4px 0;
  cursor: pointer;
}

.iconBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
}

.optionText {
  color: #484848;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.5px;
}

/* DeleteModal: 삭제 모달 스타일 */

.noBottomLineTop {
  display: flex;
  justify-content: center;
  padding: 16px 0 0 0;
}

.deleteCenter {
  display: flex;
  color: #484848;
  justify-content: center;
  color: #484848;
  font-size: 13px;
  font-weight: 400;
  line-height: 192%;
  letter-spacing: -0.5px;
  padding-bottom: 10px;
}

.deleteOrBack {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Grey-3-1, #898989);
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.5px;
  gap: 80px;
  padding: 2px 0 10px 0;
}

.redBtn {
  color: #ff4b6c;
  padding: 10px;
  cursor: pointer;
}

.greyBtn {
  padding: 10px;
  cursor: pointer;
}

/* TextAreaModal: 텍스트 박스 모달 스타일 */

.textAreaCenter {
  padding: 10px 25px;
}

.textArea {
  display: block;
  width: 100%;
  height: 106px;
  padding: 8px;
  background-color: transparent;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  outline: none;
  color: #484848;
  font-size: 12px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.5px;
  resize: none;
}
