.changePasswordPage {
  display: flex;
  flex-direction: column;
  padding: 18px;
  width: 100%;
  gap: 18px;
}

.topContainer {
  display: flex;
  justify-content: space-between;
}

.goBackBtn {
  width: 9px;
}

.completeBtn {
  color: #00368e;
  font-size: 10px;
  font-weight: 700;
}

/* 비밀번호 수정 관련 */
.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.pwContent {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.title {
  font-size: 10px;
  font-weight: 500;
}

.pwBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 19px;
  border-radius: 15px;
  border: 0.5px solid #c7c7c7;
  padding: 0 6px;
  background-color: #f9f9f9;
}

.pwInput {
  border: none;
  background: none;
  font-size: 8px;
  width: 100%;
}
