.editInfoPage {
  display: flex;
  flex-direction: column;
  padding: 1.125rem;
  width: 100%;
  gap: 1.125rem;
}

.topContainer {
  display: flex;
  justify-content: space-between;
}

.goBackBtn {
  width: 0.5625rem;
}

.completionBtn {
  color: #00368e;
  font-size: 0.625rem;
  font-weight: 700;
}

.profileContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.125rem 0 0.875rem;
}

.profileImg {
  width: 2.5625rem;
  height: 2.5625rem;
}

.profileEditBtn {
  color: #00368e;
  text-align: right;
  font-size: 0.5rem;
  font-weight: 500;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}

.Info {
  display: flex;
  justify-content: space-between;
}

.title {
  color: #000;
  font-size: 0.625rem;
  font-weight: 500;
}

.inputBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 9.5625rem;
  height: 1.1875rem;
  border-radius: 0.9375rem;
  border: 0.03125rem solid #c7c7c7;
  background: #f8f8f8;
  padding: 0 0.5rem;
}

.inputText {
  color: #000;
  font-size: 0.5rem;
}

.calendarInput {
  display: flex;
  justify-content: space-between;
}
