.myPage {
  display: flex;
  flex-direction: column;
}

.myPageUpper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/mypage-background-gradation.svg'); /* 그라데이션 배경 */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 186px;
  position: relative;
}

.logoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/logo-white.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.myInfo {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 8px;
}

.name {
  padding: 6px;
  color: #000;
  font-size: 13px;
  font-weight: 700;
}

.myImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 67px;
  height: 65px;
  flex-shrink: 0;
  background-color: #fff;
  padding: 4px;
  border-radius: 50%;
}

.profileYearMember {
  display: flex;
  gap: 4px;
  padding: 6px;
}
