.dropdown {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.dropdownListWrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.dropdownListWrapper.open {
  max-height: 200px;
  /* box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.1); */
}

.open {
  max-height: 18rem;
  overflow: auto;
  scrollbar-arrow-color: var(--blue-2, #bfd7ec);
}
