.dropdown {
  padding: 9.6px 0;
  background: var(--gray-2);
  border-radius: 5px;
  border: none;
  font-size: 13px;
  color: var(--gray-4);
}

.select {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select:hover {
  cursor: pointer;
}

.unselect {
  color: var(--gray-3-1);
}

.placeholder {
  color: var(--gray-3-1);
}

.list {
  max-height: 0;
  overflow: hidden;
  transition: 200ms all ease-in-out;
  text-align: left;
}

.open .list {
  max-height: 256px;
  margin-top: 6px;
  overflow: auto;
}

.option {
  padding: 8px 10px;
  margin: 0 6px;
  border-radius: 4px;
}

.option:hover {
  background-color: var(--gray-3);
  cursor: pointer;
}
