.layout {
  margin: 2.4rem var(--default-margin) 2.8rem var(--default-margin);
  display: flex;
  gap: 0.72rem;
}

.layout div {
  height: 11.2rem;
  border-radius: 0.6rem;
  background: linear-gradient(
    45deg,
    var(--grey-2) 25%,
    var(--grey-3) 50%,
    var(--grey-2) 75%
  );
  background-size: 200% 100%;
}

.left {
  flex: 2;
}

.right {
  flex: 3;
}
