/* HomeCard */

.layout {
  margin: 3rem var(--default-margin) 3rem var(--default-margin);
  display: flex;
  gap: 1.1rem;
}

.left,
.right {
  flex: 2;
}

/* Card */

.card {
  width: 100%;
  height: 11rem;
  padding: 1.4rem 0 1.2rem 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--blue-0);
  border-radius: 0.6rem;
  box-sizing: border-box;
  color: var(--blue-4);
  overflow: hidden;
}

.dark .card {
  background: var(--gradient-5);
  color: var(--white);
}

.text {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-break: keep-all;
}

.title {
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  white-space: pre-line;

  font: var(--text-headline-1-med);
}

.image {
  width: 5.8rem;
  height: auto;
  margin: 2.5rem 1.2rem 0rem 2.5rem;
}
