.layout {
  margin: 24px var(--default-margin) 28px var(--default-margin);
  display: flex;
  gap: 7.2px;
}

.layout div {
  height: 112px;
  border-radius: 6px;
  background: linear-gradient(
    45deg,
    var(--gray-2) 25%,
    var(--gray-3) 50%,
    var(--gray-2) 75%
  );
  background-size: 200% 100%;
}

.left {
  flex: 2;
}

.right {
  flex: 3;
}
