.item {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  border-bottom: 0.1rem solid var(--grey-3);
}

.tag {
  align-self: flex-start;
  position: relative;
  font-size: 1.1rem;
  color: var(--grey-3-1);
}

.required {
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  position: absolute;
  top: 0.2rem;
  right: -1rem;
  border-radius: 1rem;
  background-color: var(--pink-3);
}

.input {
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--grey-4);
}

.input::placeholder {
  color: var(--grey-3-1);
}
