.editInfoPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10rem;
}

.topContainer {
  display: flex;
  justify-content: space-between;
}

.submitBtn {
  background-color: transparent;
  padding: 1.4rem 2rem;
  font-size: 1.6rem;
}

/* 프로필 */
.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.4rem 2rem;
  gap: 2.6rem;
}

.pageTitle {
  font: var(--text-title-1-bold);
}

.updateProfileForm {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.profileImgContainer {
  display: flex;
  justify-content: center;
}

.profileImg {
  --size: 8.2rem;

  width: var(--size);
  height: var(--size);
  display: flex;
  flex-shrink: 0;
  position: relative;
  /* cursor: pointer; */
}

.profileImg img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

.blueCamera {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.inputTitle {
  color: var(--grey-4);
  font: var(--text-headline-2-med);
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.inputText {
  display: flex;
  width: 100%;
  height: 5rem;
  border-radius: 0.5rem;
  padding: 1.6rem 1.3rem;
  border: none;
  background: var(--grey-1-1);
  outline: none;
  color: var(--black);
  font: var(--text-body-1-reg);

  &:disabled {
    background: var(--grey-3);
  }
}

.errorMessage {
  color: var(--pink-3);
  font: var(--text-body-1-reg);
}

.errorInputText {
  background: var(--pink-1);
  border-radius: 0.5rem;
}
