.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 2rem 6rem;
}

.illustrationWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 1.2rem;
}

.illustration {
  width: 22rem;
  height: 22rem;
  padding: 1.4rem 1.9rem;
}

.text {
  color: var(--grey-4, #484848);
  font: var(--text-headline-2-reg);
}

.button {
  width: 100%;
}
