.container {
  max-width: var(--default-width);
  width: 100%;
  min-height: 8.4rem;
  padding: 1.3rem 2.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  background: var(--white);
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 0 3.6rem 0 rgba(0, 0, 0, 0.1);
  /* Default */
  position: fixed;
  bottom: 0;
  z-index: 10;
}

.inputBar {
  background-color: var(--grey-1-1);
  width: 100%;
  min-height: 4rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  padding: 1.3rem 1.9rem;
  border-radius: 0.5rem;
}

.cloudLogoIcon {
  width: 2.2rem;
  height: 1.4rem;
}

.inputZone {
  width: 100%;
  min-height: 2rem;
  outline: none;
  border: none;
  background-color: transparent;
  font: var(--text-headline-2-reg);
  resize: none;
}

.inputZone::placeholder {
  color: var(--grey-3-1);
}

.enter {
  cursor: pointer;
}
