.container {
  max-width: var(--default-width);
  width: 100%;
  min-height: 84px;
  padding: 15px 15px 30px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  background: var(--white);
  border-radius: 10px 10px 0 0;
  box-shadow: 0 -4px 7px var(--blue-1);
  position: fixed;
  bottom: 0;
}

.input_bar {
  background-color: var(--gray-1-1);
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 9px 12px;
  border-radius: 5px;
}

.input_zone {
  width: 100%;
  min-height: 20px;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 12px;
  resize: none;
}

.input_zone::placeholder {
  color: var(--gray-3-1);
}

.profile_icon {
  display: flex;
  width: 20px;
  height: 20px;
}

.enter {
  cursor: pointer;
}
