.serverError {
  flex: 1;
  margin: 0 var(--default-margin);
  padding: 32px;
  aspect-ratio: 3.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 5px;
  font-size: 16px;
  color: var(--gray-4);
}

.errorMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.errorMessage > span:nth-child(1) {
  font-size: 17.6px;
  font-weight: 500;
}

.errorMessage > span:nth-child(2) {
  font-size: 12px;
}
