.list {
  margin: 0 var(--default-margin);
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.item {
  width: 100%;
  padding: 1.3rem 1.5rem;
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;
  background: var(--grey-1);
  border-radius: 0.5rem;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--grey-3-1);
}
