.list {
  margin: 0 var(--default-margin);
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.item {
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;
  width: 100%;
  padding: 1.3rem 1.5rem;
  border-radius: 0.5rem;
  box-sizing: border-box;

  font: var(--text-body-1-med);

  color: var(--grey-3-1);
  background: var(--grey-1);
}
