.dim {
  width: 100vw;
  max-width: var(--default-width);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background: rgba(228, 228, 228, 0.6);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
}

.sidebar {
  width: 80%;
  height: 100%;
  padding: 1.25rem 0 0 1.875rem;
  position: absolute;
  right: 0;
  border-radius: 1rem 0px 0px 0px;
  background-color: #ffffff;
}

.logo {
  display: inline-block;
  margin-bottom: 1.25rem;
}

.title {
  margin: 1rem 0;
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: -0.5px;
  color: #484848;
}

.item {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: -0.5px;
  color: #484848;
}
