.nav {
  width: 100%;
  max-width: var(--default-width);
  padding: 1.375rem 2.25rem;
  border-radius: 0.625rem 0.625rem 0px 0px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #ffffff;
  filter: drop-shadow(0px -4px 7px #ddebf6);
}

.menus {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.menu span {
  font-weight: 400;
  font-size: 0.5625rem;
  line-height: 150%;
  letter-spacing: -0.5px;
  color: #bfd7ec;
}
