:root {
  --rem-scale: 62.5%;

  /* box model */
  --default-width: 60rem;
  --default-margin: 2rem;
  --default-appbar-height: 6rem;

  /* color */
  --blue-0: #eaf5fd;
  --blue-1: #ddebf6;
  --blue-2: #bfd7ec;
  --blue-3: #5f86bf;
  --blue-4: #00368e;

  --pink-1: #fee9eb;
  --pink-2: #ff849a;
  --pink-3: #ff4b6c;

  --green-1: #e6f7b1;
  --green-2: #aad916;

  --grey-1: #f8f8f8;
  --grey-1-1: #f4f4f4;
  --grey-2: #f0f0f0;
  --grey-3: #d9d9d9;
  --grey-3-1: #898989;
  --grey-4: #484848;

  --white: #ffffff;
  --black: #000000;

  --grey-3-1-rgb: 137, 137, 137;
  --grey-4-rgb: 72, 72, 72;
  --white-rgb: 255, 255, 255;
  --black-rgb: 0, 0, 0;

  --gradient-1: radial-gradient(var(--blue-4) 0%, var(--blue-3) 100%);
  --gradient-2: radial-gradient(
    119.45% 119.45% at 77.84% 58.88%,
    #c5d2ff 29.14%,
    #82b5ff 100%
  );
  --gradient-4: radial-gradient(
    90.86% 179.08% at 81.32% 31.28%,
    var(--blue-1) 37.32%,
    #cbe0ff 100%
  );
  --gradient-5: radial-gradient(
    76.06% 240.39% at 25.35% 34.53%,
    #10389c 0%,
    #167ed8 100%
  );

  /* mainPage 게시판*/
  --firstSnow-bg: #eaf5fd;
  --largeSnow-bg: #c8dfff;
  --permanentSnow-bg: linear-gradient(180deg, #40669d 0%, #1e304a 100%);
  --event-bg: radial-gradient(
    64.42% 64.42% at 58.93% 36.2%,
    #53afff 0%,
    #cbf2ff 100%
  );

  /* text */
  --text-title-1-bold: 700 2.4rem/1.3 'Spoqa Han Sans Neo';
  --text-title-1-med: 500 2.4rem/1.3 'Spoqa Han Sans Neo';
  --text-title-1-reg: 400 2.4rem/1.3 'Spoqa Han Sans Neo';

  --text-heading-1-bold: 700 2rem/1.4 'Spoqa Han Sans Neo';
  --text-heading-1-med: 500 2rem/1.4 'Spoqa Han Sans Neo';
  --text-heading-1-reg: 400 2rem/1.4 'Spoqa Han Sans Neo';

  --text-headline-1-bold: 700 1.8rem/1.4 'Spoqa Han Sans Neo';
  --text-headline-1-med: 500 1.8rem/1.4 'Spoqa Han Sans Neo';
  --text-headline-1-reg: 400 1.8rem/1.4 'Spoqa Han Sans Neo';

  --text-headline-2-bold: 700 1.6rem/1.4 'Spoqa Han Sans Neo';
  --text-headline-2-med: 500 1.6rem/1.4 'Spoqa Han Sans Neo';
  --text-headline-2-reg: 400 1.6rem/1.4 'Spoqa Han Sans Neo';

  --text-body-1-bold: 700 1.4rem/1.4 'Spoqa Han Sans Neo';
  --text-body-1-med: 500 1.4rem/1.4 'Spoqa Han Sans Neo';
  --text-body-1-reg: 400 1.4rem/1.4 'Spoqa Han Sans Neo';

  --text-body-2-bold: 700 1.3rem/1.4 'Spoqa Han Sans Neo';
  --text-body-2-med: 500 1.3rem/1.4 'Spoqa Han Sans Neo';
  --text-body-2-reg: 400 1.3rem/1.4 'Spoqa Han Sans Neo';

  /* z-index */
  --z-index-pull-to-refresh: 100;
  --z-index-mypage-background: 100;
  --z-index-profile-image: 200;
  --z-index-dropdown: 400;
  --z-index-appbar: 500;
  --z-index-navbar: 500;
  --z-index-write-button: 500;
  --z-index-modal: 600;
  --z-index-sidebar: 700;
  --z-index-popup: 800;
  --z-index-fetch-loading: 900;
  --z-index-toast: 1000;
}
