.filter {
  position: relative;
  z-index: 1;
}

.display {
  padding: 3px 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--blue-0);
  border-radius: 20px;
  cursor: pointer;
}

.displayOption {
  font-size: 11px;
  color: var(--blue-4);
}

.list {
  width: 169.6px;
  max-height: 240px;
  padding: 6px;
  display: none;
  background: var(--blue-0);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  position: absolute;
  top: calc(100% + 10px);
  overflow-y: auto;
}

.open .list {
  display: block;
}

.option {
  padding: 8px 0 8px 12px;
  border-radius: 5px;
  font-size: 13px;
  color: var(--gray-3-1);
  cursor: pointer;
}

.option:hover {
  background: var(--blue-2);
  color: var(--blue-4);
}
