.textarea {
  height: 8.25rem;
  padding: 0.9rem 1rem;
  grid-column: span 2;
  background: #f0f0f0;
  border-radius: 0.3125rem;
  border: none;
  outline: none;
  resize: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: -0.5px;
}

.textarea::placeholder {
  color: #898989;
}
