.appBar {
  padding: 0.875rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.close {
  cursor: pointer;
}

.actions {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
}
