.loading {
  flex: 1;
  width: 100%;
  height: calc(100% - 3.5rem - 5.375rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.625rem;
  font-size: 0.8125rem;
  padding: 1.875rem 0;
}

.icon {
  animation: rotateAndPause 2s linear infinite;
}

.icon_static {
  animation: none;
}

@keyframes rotateAndPause {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
