.pageFrame {
  height: 100%;

  overflow-y: scroll;
}

.stageDotsFrame,
.signupFrame {
  margin: 0 var(--default-margin);
}

.stageDotsFrame {
  margin-top: 1.3rem;
  margin-bottom: 3rem;
}

.signupFrame {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
