.pageFrame {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  padding: 0 2rem;
}

.pageFrame form {
  width: 100%;
  height: 100%;
}
.back {
  margin-top: 1.4rem;
  margin-bottom: 2rem;
}
.back:hover {
  cursor: pointer;
}

.findIdFrame {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.arrowLeft {
  margin-top: 1.4rem;
  margin-bottom: 2.7rem;
}

.pageTitle {
  font-size: 2.4rem;
  font-weight: 700;
  margin-top: 1.4rem;
  margin-bottom: 5.6rem;
}

.inputFrame {
  margin-bottom: 1.8rem;
}

.buttonFrame {
  margin-top: 2.4rem;
  margin-bottom: 3.4rem;
}

.alert {
  font-size: 1.4rem;
  color: grey;
  word-break: keep-all;
  padding: 0 1.6rem;
}
.alert li {
  list-style-type: circle;
}
.highlight {
  color: var(--blue-3);
}
.alertArrow {
  margin-bottom: 1.2rem;
}
.googleFormBtn {
  width: 8.5rem;
  height: 3.6rem;
  border-radius: 0.5rem;
  border: solid 0.1rem var(--grey-3);
  margin-top: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}
