.container {
  height: 100%;

  padding-top: var(--default-appbar-height);

  overflow-y: scroll;
}

.container form {
  height: 100%;

  padding: 0 var(--default-margin);
}

.findIdFrame {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.pageTitle {
  font: var(--text-title-1-bold);
  margin-top: 1.4rem;
  margin-bottom: 5.6rem;
}

.form {
  margin-bottom: 1.8rem;

  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.buttonFrame {
  margin-top: 2.4rem;
  margin-bottom: 4rem;
}

.alert {
  font: var(--text-body-1-reg);
  color: grey;
  word-break: keep-all;
  padding: 0 1.6rem;

  & li {
    list-style-type: circle;
  }
}

.highlight {
  color: var(--blue-3);
}

.alertArrow {
  margin-bottom: 1.2rem;
}

.googleFormBtn {
  width: 8.5rem;
  height: 3.6rem;
  border-radius: 0.5rem;
  border: solid 0.1rem var(--grey-3);
  margin-top: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}
