.accordion {
  border-bottom: 0.05rem solid var(--blue-2);
}

.accordion:last-child {
  border: none;
}

.panelHeader {
  padding: 1.3rem 1.4rem 1.3rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: var(--blue-0);
}

.accordion:first-child .panelHeader {
  border-radius: 0.5rem 0.5rem 0 0;
}

.accordion:last-child .panelHeader {
  border-radius: 0 0 0.5rem 0.5rem;
}

.accordion:first-child:last-child .panelHeader {
  border-radius: 0.5rem;
}

.accordion:last-child.opend .panelHeader {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.panelHeader span {
  font: var(--text-headline-2-reg);
  color: var(--grey-4);
}

.opend .panelHeader {
  background: var(--blue-1);
  border-bottom: 0.05rem solid var(--blue-2);
}

.opend .panelHeader span {
  font: var(--text-headline-2-med);
  color: var(--blue-4);
}

.toggleIcon {
  transition: 300ms transform ease;
}

.opend .toggleIcon {
  transform: rotate(180deg);
}

.panelBody {
  max-height: 0;
  padding: 0 2rem;

  overflow: hidden;

  background: var(--blue-0);
  color: var(--grey-4);

  font: var(--text-body-1-reg);
  white-space: pre-line;

  transition:
    max-height 300ms ease,
    padding 300ms ease;
}

.opend .panelBody {
  padding: 2rem;
  max-height: 250rem;
  overflow-y: auto;
  background: var(--blue-1);
}

.accordion:last-child.opend .panelBody {
  border-radius: 0 0 0.5rem 0.5rem;
}

.apply {
  margin-top: 1rem;
}
