.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.313rem;
  margin-bottom: 0.349rem;
}
.input {
  width: 100%;
  height: 2.563rem;
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 0.625rem;
  font-size: 0.75rem;
  line-height: 1.125rem;
  outline: 0;
}
.input [type='date']::-webkit-calendar-picker-indicator {
  width: 10rem;
  height: 1.188rem;
  background-color: blue;
}
.ready {
  border: 0;
  background-color: #f5f5f5;
}
.ready:placeholder {
  color: #c7c7c7;
}
.right {
  border: 0;
  background-color: #eaf5fd;
  color: #00368e;
}
.wrong {
  border: 0;
  background-color: #fee9eb;
  color: #ff4b6c;
}
.errMsg {
  font-size: 0.688rem;
  font-weight: 400;
  line-height: 1.031rem;
  color: #ff4b6c;
}
