.field {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.title {
  font: var(--text-headline-2-med);
  color: var(--grey-4);
}

.cagetories {
  display: grid;
  height: 5rem;
  row-gap: 0.9rem;
  column-gap: 1.3rem;
  font: var(--text-body-1-reg);
}

.check {
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 2.1rem;
  border: 0.4rem solid var(--grey-3);
  cursor: pointer;
}

.input {
  display: none;
}

.check:has(.input:checked) {
  background-color: var(--blue-4);
}
