.container {
  width: 100%;
  height: 100%;
}

.padding_container {
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: 0.5rem;
}

.status_bar {
  height: 3.375rem;
  display: flex;
  align-items: center;
  width: 100%;
  /* border: 1px solid gray; */
}

.header {
  height: 2.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.text_logo {
  display: flex;
  justify-content: baseline;
  width: 9.5rem;
  height: 1.875rem;
}

.side_menu_btn {
  width: 1.25rem;
  height: 0.9375rem;
  margin-left: 0.625rem;
  display: flex;
}

.searchbar_box {
  width: 100%;
  /* 양옆 여백 */
  padding: 0.625rem 0 0 0;
}

.searchbar {
  border-radius: 0.3125rem;
  font-size: 0.75rem;
  color: var(--gray-1-1);
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--gray-1);
  padding: 0 0.8125rem;

  input {
    width: 100%;
    padding: 0 0.625rem 0.125rem 0.625rem;
    border-radius: 0.625rem;
    border: transparent;
    background: var(--gray-1);
  }

  input:focus {
    outline: none;
  }
}

.board_box {
  padding: 1.625rem 0;
  width: 100%;
}

.board_title {
  box-sizing: border-box;
  padding: 0 0 0.5rem 0;
  font-size: 1rem;
  font-weight: 700;
}

.board_list_box {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-row: auto auto;
  grid-column-gap: 0.625rem;
  grid-row-gap: 0.625rem;
}

.more_board_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.875rem 0;
  min-height: 18.75rem;
  background: linear-gradient(180deg, #f9f9f9 0%, var(--white) 100%);
  font-size: 0.75rem;
}

.icon_logo {
  display: flex;
  width: 2rem;
  height: 1.25rem;
  margin-bottom: 0.625rem;
}

.sponsor {
  width: 100%;
  border-radius: 0.3125rem;
  font-size: 0.75rem;
  background-size: contain;
  background: no-repeat;
  display: flex;
  justify-content: center;
}
