.footer {
  padding-top: 1.75rem;
  margin-top: 2.75rem;
  margin-bottom: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #f9f9f9 0%, var(--white) 100%);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 0.875rem;
  font-size: 0.5625rem;
  text-align: center;
  color: #6a6a6a;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: cetner;
  gap: 0.375rem;
}
