.footer {
  padding-top: 1.75rem;
  margin-top: 2.75rem;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #f9f9f9 0%, #ffffff 100%);
}

.info {
  margin-top: 0.875rem;
  font-weight: 400;
  font-size: 0.5625rem;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.5px;
  color: #6a6a6a;
}

.contact {
  margin-bottom: 7px;
}

.give {
  margin-bottom: 10px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: cetner;
  gap: 6px;
}
