.container {
  height: 100vh;

  padding-top: var(--default-appbar-height);
}

.notificationBar {
  height: 4rem;

  padding: 0 1.5rem;
  margin: 1rem var(--default-margin);

  display: flex;
  align-items: center;
  gap: 1rem;

  border-radius: 0.5rem;
  background-color: var(--pink-1);

  font: var(--text-body-1-reg);
  color: var(--pink-3);

  cursor: pointer;
}

.writeButton {
  bottom: 1.9rem;
}
