.container {
  margin-top: 0.8rem;
  width: calc(100% - 4rem);
  padding: 1.3rem 0.6rem;
  background-color: var(--gray-2);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  position: absolute;
  z-index: 1;
}

.invisible {
  display: none;
}

.listBar {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background-color: transparent;
  padding: 0 1.3rem;
  color: var(--gray-3-1);
  cursor: pointer;
}

.SelectedlistBar {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background-color: var(--blue-1);
  padding: 0 1.3rem;
  color: var(--blue-4);
  cursor: pointer;
}

.item {
  font-size: 1.3rem;
}
