.container {
  width: 100%;
  padding: 0.6875rem 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: #f4f4f4;
  border-radius: 0.3125rem;
}

.search {
  flex: 1;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 0.75rem;
  color: #000;
}

.search::placeholder {
  font-size: 0.75rem;
  color: #898989;
}
