.container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 9.8rem;
  border-radius: 0.6rem;
  background-color: var(--grey-1);
  transition: background-color 200ms ease-in-out;

  h3,
  p {
    transition: color 200ms ease-in-out;
  }

  &:hover {
    background-color: var(--blue-4);

    h3,
    p {
      color: white;
    }
  }
}

.image {
  position: absolute;
  right: -0.1rem;
  top: 50%;
  transform: translateY(-50%);
}

.textBox {
  display: flex;
  flex-direction: column;
  position: absolute;
  white-space: pre-wrap;
  margin: 1.6rem 0 0 1.4rem;
}

.title {
  font-size: 1.6rem;
  font-weight: 500;
}

.description {
  font-size: 1.4rem;
  color: var(--grey-3-1);
}
