.container {
  width: 100%;
  height: 84px;
  border-radius: 6px;
  background: var(--gray-1-1);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.textBox {
  display: flex;
  flex-direction: column;
  position: absolute;
  white-space: pre-wrap;
  margin: 14px;
}

.title {
  font-size: 14px;
  font-weight: 500;
}

.description {
  font-size: 11px;
  color: var(--gray-3-1);
}
