.container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 8.4rem;
  border-radius: 0.6rem;
  background-color: var(--gray-1);
  transition: background-color 200ms ease-in-out;

  h1,
  p {
    transition: color 200ms ease-in-out;
  }

  &:hover {
    background-color: var(--blue-4);

    h1,
    p {
      color: white;
    }
  }
}

.image {
  position: absolute;
  right: -0.1rem;
}

.textBox {
  display: flex;
  flex-direction: column;
  position: absolute;
  white-space: pre-wrap;
  margin: 1.4rem;
}

.title {
  font-size: 1.4rem;
  font-weight: 500;
}

.description {
  font-size: 1.1rem;
  color: var(--gray-3-1);
}
