.policyPage {
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px 54px 20px;
  width: 100%;
  gap: 14px;
  padding-top: 50px;
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.content {
  padding: 16px 13px;
  border-radius: 5px;
  background: var(--Miscellaneous-_Kit-Section-Fill, #f5f5f5);
  color: var(--Grey-4, var(--grey-3, #484848));
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.5px;
  white-space: pre-line;
}
