/* 스토리북에서만 배경색을 하얀색으로 설정 */
html {
  background-color: #ffffff !important;
}

:root {
  font-size: 62.5%;
}

html,
body,
header,
nav,
main,
article,
section,
aside,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span,
ul,
ol,
fieldset,
legend,
label,
form,
input,
button,
select,
option,
textarea,
pre {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
  letter-spacing: -0.5px;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#modal {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: var(--z-index-modal);
}

#toast {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: var(--z-index-toast);
}

.react-calendar {
  margin: 0 2rem !important;
  background-color: rgba(95, 133, 191, 0.4) !important;
  border-radius: 0.5rem !important;
  border: none !important;
}
