.changePasswordPage {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.topContainer {
  display: flex;
  justify-content: space-between;
}

.submitBtn {
  background-color: transparent;
  padding: 14px 20px;
  font-size: 16px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  padding: 14px 20px;
  gap: 28px;
}
