.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  word-break: keep-all;
  padding: 1rem;
}

.logo {
  margin-top: 30%;
}

.title {
  margin-top: 4.25rem;
  font: var(--text-title-1-bold);
  color: var(--blue-4);
  text-align: center;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  word-break: keep-all;
}

.date {
  margin: 1.6rem 4.8rem 0;
  font: var(--text-headline-2-bold);
  color: var(--blue-4);
  text-align: center;
}

.content {
  font: var(--text-headline-2-reg);
  margin: 1.3rem 1rem 0;
  padding: 1rem;
  text-align: center;
  color: var(--grey-4);
}
