.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.logo {
  margin-top: 10rem;
}

.config {
  margin-top: 2rem;
  font: var(--text-title-1-bold);
  color: var(--blue-4);
}

.text {
  margin-top: 2rem;
  font: var(--text-headline-2-med);
  display: flex;
  flex-direction: column;
  align-items: center;
  word-break: keep-all;
}

.date {
  font: var(--text-headline-2-bold);
}

.text p {
  padding: 1rem;
}
