/* top */

.top {
  display: flex;
  flex-direction: column;
  background-color: var(--blue-4);
  border-radius: 0 0 15px 15px;
}

.title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: var(--white);
  white-space: pre-line;
}

.calendar {
  display: flex;
  justify-content: center;
}

.attendanceButton {
  margin: 26px var(--default-margin);
  padding: 13px 0;
  background: var(--blue-0);
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: var(--blue-4);
}

.attendanceButton:active {
  filter: brightness(0.9);
}

.attendanceButton:disabled {
  cursor: not-allowed;
  filter: brightness(0.5);
}

/* bottom */

.bottom {
  margin: 17px 0 50px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  margin: 0 var(--default-margin);
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--blue-0);
  border-radius: 5px;
}

.itemLeft {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.label {
  font-weight: 500;
  font-size: 14px;
  color: var(--blue-4);
}

.description {
  font-size: 13px;
  color: var(--gray-4);
}
