.box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  flex-direction: column;
}

.close {
  background: transparent;
  border: none;
  color: gray;
  cursor: pointer;
}

.modal {
  background: var(--blue-0);
  border-radius: 1.5rem;
  width: 90%;
  min-width: 27.6rem;
  max-width: 30rem;
  height: 36rem;
  padding: 2rem;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.modalTop {
  display: flex;
  justify-content: flex-end;
}

.modal h2 {
  font: var(--text-headline-1-med);
  color: var(--blue-4);
  word-break: keep-all;
}

.illustration {
  display: flex;
  justify-content: center;
}

.image {
  width: 60%;
  max-width: 15rem;
  height: 15rem;
  object-fit: contain;
}

.content {
  margin-top: 1.2rem;
  font: var(--text-body-1-reg);
  height: 3rem;
  color: var(--blue-3);
  word-break: keep-all;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  padding: 2rem;
  z-index: 5;
  justify-content: space-between;
}

.goNotice {
  background: transparent;
  border: none;
  font: var(--text-headline-2-reg);
  cursor: pointer;
  color: var(--blue-3);
  padding: 1.5rem 0.9rem;
}

.confirm {
  background: transparent;
  border: none;
  font: var(--text-headline-2-reg);
  cursor: pointer;
  color: var(--blue-4);
  padding: 1.5rem 0.9rem;
}
