.input {
  padding: 0.625rem 0;
  outline: none;
  border: none;
  border-bottom: 0.5px solid rgba(137, 137, 137, 0.7);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.5px;
  color: #484848;
}
