.link {
  width: 100%;
  text-align: center;
}

.cardSection {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  transition: transform 0.25s ease;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.05);
}

/* 아이콘 */
.icon {
  padding-top: 0.5rem;
  width: 100%;
  height: 6rem;
  transition: opacity 0.2s ease;
}

.name {
  font: var(--text-body-1-med);
  margin-top: 1.2rem;
  color: var(--grey-4);
}

@media (min-width: 430px) {
  .card {
    width: 8rem;
    height: 8rem;
  }

  .icon {
    width: 120%;
    height: 7.6rem;
    padding-top: 0.5rem;
  }
}
