.content {
  flex: 1;
  margin: 0 var(--default-margin);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.terms {
  flex: 1;
  margin-bottom: 14px;
  padding: 14px;
  background: #f5f5f5;
  border-radius: 5px;
}

.text {
  word-break: keep-all;
  text-wrap: wrap;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.5px;
  color: #484848;
}
