.content {
  flex: 1;
  margin: 0 var(--default-margin);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.terms {
  flex: 1;
  margin-bottom: 14px;
  padding: 14px;
  background: var(--gray-1-1);
  border-radius: 5px;
}

.text {
  word-break: keep-all;
  text-wrap: wrap;
  font-size: 14px;
  color: var(--gray-4);
}

.item {
  margin-left: 10px;
}
