.blueContainer {
  padding: var(--default-appbar-height) var(--default-margin) 1rem;

  border-radius: 0 0 1.5rem 1.5rem;
  background-color: var(--blue-0);
}

/* meta */

.metaContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font: var(--text-body-2-reg);
  color: var(--grey-3-1);
}

.meta {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.logoIcon {
  width: 2.5rem;
  height: 1.6rem;
}

.badge {
  width: 1.8rem;
  height: 1.8rem;
  margin-left: -0.5rem;
}

.dot {
  font-weight: 800;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.commentBell {
  cursor: pointer;
}

.meatBall {
  padding: 1rem;
  margin-right: -1rem;

  cursor: pointer;
}

/* title */

.titleContainer {
  margin: 0.7rem 0 2.6rem 0;

  display: flex;
  align-items: flex-end;
}

.title {
  font: var(--text-title-1-bold);
  color: var(--grey-4);
}

.views {
  white-space: nowrap;
  color: var(--blue-3);
  font-size: 1.1rem;
  padding-left: 0.2rem;
  padding-bottom: 0.7rem;
}

/* content */

.eventContainer {
  font: var(--text-headline-2-reg);
  color: var(--grey-4);
  padding: 0 1.3rem 1.5rem 0;
  white-space: pre-wrap;
  word-break: keep-all;

  a {
    color: var(--blue-3);
  }

  a:hover {
    text-decoration: underline;
  }
}

/* action */

.actionContainer {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  padding: 0.9rem 0 0 0;
  border-top: 0.05rem solid rgba(var(--grey-3-1-rgb), 0.7);
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 0.8rem;
  width: 100%;
  border-radius: 0.5rem;
  transition: all 200ms ease-in-out;
  cursor: pointer;

  p {
    color: var(--grey-3-1);
    font: var(--text-body-1-reg);
  }

  &:hover {
    background-color: var(--blue-1);
  }
}

/* comment */

.whiteBox {
  background-color: #fff;
  width: 100%;
  height: 5rem;
}

/* post content */

.contentText {
  font: var(--text-headline-2-reg);
  color: var(--grey-4);
  padding: 0 1.3rem 1.5rem 0;
  white-space: pre-wrap;
  word-break: break-word;

  a {
    color: var(--blue-3);
  }

  a:hover {
    text-decoration: underline;
  }
}

.host,
.place,
.drawCount,
.applicationDate,
.announceDate {
  display: flex;
  flex-direction: row;
  font: var(--text-headline-2-med);
  color: var(--grey-4);
  gap: 0.8rem;
  margin-bottom: 1.4rem;
  word-break: keep-all;
}

.note {
  font: var(--text-headline-2-reg);
  color: var(--grey-4);
  margin-bottom: 1.4rem;
  word-break: keep-all;
}

.data {
  font: var(--text-headline-2-reg);
  word-break: keep-all;
}

.button {
  margin-bottom: 2rem;
}
