.myPage {
  position: relative;
  display: flex;
  flex-direction: column;
  opacity: 0.8;
  background: radial-gradient(
    200.19% 208.16% at -25.32% 33.26%,
    #00368e 0%,
    #1270fa 100%
  );
  width: 100%;
}

/* 상단 배경 */
.myPageUpper {
  width: 100%;
  height: 197px;
  opacity: 0.8;
  z-index: 1;
}

.logoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 434px;
  opacity: 0.8;
  background-image: url('/src/assets/images/symbol_White.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.editIcon {
  position: absolute;
  top: 6px;
  right: 6px;
  padding: 20px;
  width: 20px;
  height: 20px;
}

.profileImage {
  width: 135px;
  height: 135px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 125px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  overflow: hidden;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.profileImage img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

/* 컨텐츠 내용 */
.myPageLower {
  width: 100%;
  flex-shrink: 0;
  border-radius: 15px 15px 0px 0px;
  background: #fff;
  z-index: 1;
  padding-bottom: 100px;
}

.myInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 72px;
}

.name {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.5px;
  margin-bottom: 5px;
}

.studentIdMemberType {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Grey-4, var(--grey-3, #484848));
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.5px;
  margin-bottom: 7px;
  gap: 8px;

  svg {
    width: 3px;
    height: 3px;
  }
}

.pointWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.point {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 57px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--Blue-1, #ddebf6);
  color: var(--Blue-4, #00368e);
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -0.5px;
  gap: 4px;

  svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    padding: 1px;
  }
}

.pointList {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Blue-4, #00368e);
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -0.5px;
  gap: 3px;

  svg {
    width: 14px;
    height: 14px;
  }
}

/* 탭 메뉴 */
.tabMenu {
  display: flex;
  margin: 29px 20px 14px;
  border-top: 1px solid var(--Grey-3, #d9d9d9);
}

.tab {
  width: 100%;
  padding: 15px;
  color: var(--Grey-3-1, #898989);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.5px;
  cursor: pointer;
}

.tab.active {
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.5px;
  border-top: 2px solid var(--Blue-4, #00368e);
}

/* 계정 정보 */
.infoWrapper {
  display: flex;
  flex-direction: column;
  padding: 4px 13px;
  margin: 0 20px;
  border-radius: 5px;
  background: var(--Grey-1, #f8f8f8);
}

.info {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border-bottom: 1px solid var(--Grey-3, #d9d9d9);

  &:last-child {
    border-bottom: none;
  }
}

.label {
  color: var(--Grey-3-1, #898989);
  font-size: 11px;
  line-height: 150%;
  letter-spacing: -0.5px;
}

.value {
  color: var(--Grey-4, var(--grey-3, #484848));
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.5px;
}

/* 버튼 */
.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin: 20px;
}

.editButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 28px;
  border-radius: 5px;
  background: var(--Blue-4, #00368e);
  color: #fff;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -0.5px;
}

.passwordButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 28px;
  border-radius: 5px;
  background: var(--Blue-1, #ddebf6);
  color: var(--Blue-4, #00368e);
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -0.5px;
}

/* 내 활동, 이용안내 */
.itemList {
  border-bottom: 1px solid var(--Grey-3, #d9d9d9);

  &:last-child {
    border-bottom: none;
  }
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  color: var(--Grey-4, var(--grey-3, #484848));
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.5px;

  svg {
    width: 16px;
    height: 16px;
  }
}
