.myPage {
  position: relative;
  display: flex;
  flex-direction: column;
  opacity: 0.8;
  background: radial-gradient(
    200.19% 208.16% at -25.32% 33.26%,
    var(--blue-4) 0%,
    #1270fa 100%
  );
  width: 100%;
}

/* 상단 배경 */
.myPageUpper {
  width: 100%;
  height: 197px;
  opacity: 0.8;
  z-index: 1;
}

.logoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 434px;
  opacity: 0.8;
  background-image: url('/src/assets/images/symbol_White.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.editIcon {
  position: absolute;
  top: 6px;
  right: 6px;
  padding: 20px;
  width: 20px;
  height: 20px;
}

.profileImage {
  width: 135px;
  height: 135px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 125px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  overflow: hidden;
  filter: drop-shadow(0 4px 4px rgba(var(--black-rgb), 0.15));
}

.profileImage img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

/* 컨텐츠 내용 */
.myPageLower {
  width: 100%;
  flex-shrink: 0;
  border-radius: 15px 15px 0 0;
  background: var(--white);
  z-index: 1;
  padding-bottom: 100px;
}

.myInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 72px;
}

.name {
  color: var(--black);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.studentIdMemberType {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-4);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 7px;
  gap: 8px;

  svg {
    width: 3px;
    height: 3px;
  }
}

.pointWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.point {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  flex-shrink: 0;
  border-radius: 5px;
  padding: 0 11px;
  background: var(--blue-1);
  color: var(--blue-4);
  font-size: 12px;
  gap: 4px;

  svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    padding: 1px;
  }
}

.pointList {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue-4);
  font-size: 12px;
  gap: 3px;

  svg {
    width: 14px;
    height: 14px;
  }
}

/* 탭 메뉴 */
.tabMenu {
  display: flex;
  margin: 29px 20px 14px;
  border-top: 1px solid var(--gray-3);
}

.tab {
  width: 100%;
  padding: 15px;
  color: var(--gray-3-1);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.tab.active {
  font-size: 14px;
  font-weight: 500;
  border-top: 2px solid var(--blue-4);
}

/* 계정 정보 */
.infoWrapper {
  display: flex;
  flex-direction: column;
  padding: 4px 13px;
  margin: 0 20px;
  border-radius: 5px;
  background: var(--gray-1);
}

.info {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border-bottom: 1px solid var(--gray-3);

  &:last-child {
    border-bottom: none;
  }
}

.label {
  color: var(--gray-3-1);
  font-size: 11px;
}

.value {
  color: var(--gray-4);
  font-size: 14px;
  font-weight: 500;
}

/* 버튼 */
.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin: 20px;
}

.editButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 28px;
  border-radius: 5px;
  background: var(--blue-4);
  color: var(--white);
  font-size: 12px;
}

.passwordButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 28px;
  border-radius: 5px;
  background: var(--blue-1);
  color: var(--blue-4);
  font-size: 12px;
}

/* 내 활동, 이용안내 */
.itemList {
  border-bottom: 1px solid var(--gray-3);

  &:last-child {
    border-bottom: none;
  }
}
.itemList:last-child {
  border-bottom: none;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  color: var(--gray-4);
  font-size: 14px;
  font-weight: 500;

  svg {
    width: 16px;
    height: 16px;
  }
}
