.pageFrame {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.pageBottomFrame {
  padding: 0 1.25rem;
}

.pageTitle {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0.875rem 0;
}

.pageSubtitle {
  font-size: 0.875rem;
  font-weight: 500;
  color: #484848;
  margin-bottom: 0.813rem;
}

.pageExplanation {
  font-size: 0.75rem;
  color: #898989;
  margin-bottom: 1rem;
}

.pageBottomFrame {
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
}

.bodyFrame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.resultFrame {
  display: flex;
  flex-direction: column;
}

.result {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: #00368e;
  margin-top: 0.5rem;
}

.result p {
  margin-right: 0.637rem;
}

.dot {
  height: 0.375rem;
  width: 0.375rem;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 0.438rem;
}

.first {
  background-color: #acbcd7;
}

.second {
  background-color: #7a95c1;
}

.third {
  background-color: #00368e;
}

.img {
  width: 14.938rem;
  height: 16.125rem;
  margin-bottom: 1.875rem;
  margin-left: auto;
}

.loginButton {
  margin-bottom: 2.125rem;
}

.findPWButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.875rem;
  color: #484848;
  font-size: 0.75rem;
}
