.pageFrame {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.pageTopFrame {
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
}

.pageTitle {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 3.2rem;
  margin-bottom: 0.813rem;
}

.pageSubtitle {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--gray-4);
  margin-bottom: 0.813rem;
}

.pageExplanation {
  font-size: 0.75rem;
  color: var(--gray-3-1);
  margin-bottom: 1rem;
}

.pageMiddleFrame {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageBottomFrame {
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
}

.resultFrame {
  display: flex;
  flex-direction: column;
}

.result {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--blue-4);
  margin-top: 0.5rem;
}

.result p {
  margin-right: 0.637rem;
}

.dot {
  height: 0.375rem;
  width: 0.375rem;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 0.438rem;
}

.first {
  background-color: var(--blue-2);
}

.second {
  background-color: var(--blue-3);
}

.third {
  background-color: var(--blue-4);
}

.img {
  width: 14.938rem;
  height: 16.125rem;
  margin-bottom: 1.875rem;
  margin-left: auto;
}

.loginButton {
  margin-bottom: 2.125rem;
}

.findPWButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.875rem;
  color: var(--gray-4);
  font-size: 0.75rem;
}
