.submitBtn {
  width: 100%;
  height: 2.938rem;
  font-weight: 500;
  font-size: 0.875rem;
  border-radius: 0.3125rem;
}

.ready,
.wrong {
  background-color: #ddebf6;
  color: #5f86bf;
  pointer-events: none;
}

.right {
  background-color: #00368e;
  color: #ffffff;
}
