.noticeContainer {
  margin: 1rem var(--default-margin);
  padding: 1.4rem;

  border-radius: 0.5rem;
  background: var(--gradient-4);

  font: var(--text-headline-2-reg);
  color: var(--blue-4);
  white-space: pre-line;
}

/* notice */
.notice {
  margin: 0 var(--default-margin) 5rem;
  border-radius: 0.5rem;
}

.noticeBody {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.notice ul {
  padding-left: 2rem;
  list-style: disc;
}

.notice .listStyleNone {
  padding-left: 0;
  list-style: none;
}
