.tag {
  flex-shrink: 0;
  padding: 0.2rem 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--blue-0);
  border-radius: 0.5rem;
}

/* top */
.top {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.nickname {
  color: var(--blue-3);
  font-size: 1.1rem;
}

.title {
  color: var(--gray-3-1);
  font-size: 0.9rem;
}

/* bottom */

.studentInfo {
  font-size: 0.8rem;
  color: var(--gray-4);
}
