.main {
  margin-bottom: 3.125rem;
}

.file {
  margin: 0 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tag {
  font-weight: 500;
  font-size: 0.875rem;
  color: #484848;
}

.right {
  flex: 1;
}

label[for='file'] {
  padding: 0.5rem 1rem;
  display: block;
  background: #f0f0f0;
  border-radius: 0.3125rem;
  font-size: 0.8125rem;
  color: #898989;
}

input[type='file'] {
  display: none;
}
