.layout {
  margin-bottom: 4.1rem;
  width: 100%;
  aspect-ratio: 3;
  background: linear-gradient(
    45deg,
    var(--grey-2) 25%,
    var(--grey-3) 50%,
    var(--grey-2) 75%
  );
  background-size: 200% 100%;
}
