.swiper {
  width: 100%;
  aspect-ratio: 3;
  display: flex;
  position: relative;
  overflow: visible;
}

.swiper-horizontal > .swiper-pagination-bullets {
  position: absolute;
  top: 93%;
}

.swiper-pagination-bullet {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 1rem;
  background-color: var(--blue-4);
}
.swiper-button-prev {
  left: 2rem;
}

.swiper-button-next {
  right: 2rem;
}

.swiper-button-prev,
.swiper-button-next {
  margin: 0;
  border-radius: 100%;
  transform: translateY(-60%);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: var(--blue-1);
  font-size: 3rem;
}
