.alertPage {
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  padding: 14px 20px;
  justify-content: flex-end;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px 100px 20px;
  width: 100%;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.readAllButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 18px;
  border-radius: 3px;
  background: var(--blue-0);
  color: var(--blue-3);
  font-size: 9px;
}

.alertListContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.alertBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background: var(--gray-1-1);
  padding: 15px;
}

.alertBox.unread {
  background: var(--blue-0);
}

.alertBox.unreadWarning {
  background: var(--pink-1);
}

.alertIconContentWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.alertIconContentWrapper svg {
  width: 32px;
  height: 32px;
}

.alertContent {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.alertTitle {
  color: var(--gray-4);
  font-size: 12px;
  font-weight: 500;
}
.alertTitle.unreadTitle {
  color: var(--blue-4);
}
.alertTitle.unreadWarningTitle {
  color: var(--pink-3);
}

.alertDesc {
  color: var(--gray-4);
  font-size: 11px;
  white-space: pre-line;
}
.alertDesc.unreadDesc {
  color: var(--blue-3);
}
.alertDesc.unreadWarningDesc {
  color: var(--pink-2);
}
