.alertPage {
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  padding: 0.875rem 1.25rem;
  justify-content: flex-end;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  padding: 0 1.25rem 6.25rem 1.25rem;
  width: 100%;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.875rem 0;
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.readAllButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.25rem;
  height: 1.125rem;
  border-radius: 0.1875rem;
  background: var(--blue-0, #eaf5fd);
  color: var(--Blue-3, #5f86bf);
  font-size: 0.5625rem;
}

.alertListContainer {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.alertBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.3125rem;
  background: var(--Grey-1-1, #f4f4f4);
  padding: 0.9375rem;
}

.alertBox.unread {
  background: var(--blue-0, #eaf5fd);
}

.alertBox.unreadWarning {
  background: var(--Pink-1, #fee9eb);
}

.alertIconContentWrapper {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.alertIconContentWrapper svg {
  width: 2rem;
  height: 2rem;
}

.alertContent {
  display: flex;
  flex-direction: column;
  gap: 0.1875rem;
}

.alertTitle {
  color: var(--Grey-4, var(--grey-3, #484848));
  font-size: 0.75rem;
  font-weight: 500;
}
.alertTitle.unreadTitle {
  color: var(--Blue-4, #00368e);
}
.alertTitle.unreadWarningTitle {
  color: var(--Pink-2, #ff4b6c);
}

.alertDesc {
  color: var(--grey-3, #484848);
  font-size: 0.6875rem;
  white-space: pre-line;
}
.alertDesc.unreadDesc {
  color: var(--Blue-3, #5f86bf);
}
.alertDesc.unreadWarningDesc {
  color: var(--Pink-3, #ff849a);
}
