.app {
  width: 100vw;
  height: 100vh;
  max-width: 450px;
  max-height: 935px;
  margin: 0 auto;
  background-color: white;
  display:flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
