@import './style/reset.css';
@import './style/variable.css';
@import './style/font.css';

html,
body,
#root {
  height: 100%;
}

html {
  background-color: #dfdfdf;
  font-size: var(--rem-scale);
  letter-spacing: -0.5px;
}

body {
  padding: 0 !important;
  overflow: hidden;

  font-family:
    'Spoqa Han Sans Neo',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-display: swap;
  font-optical-sizing: auto;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -ms-overflow-style: none;
  scrollbar-width: none;

  /* 드래그 막기 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}
::-webkit-scrollbar {
  display: none;
}

#modal {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: var(--z-index-modal);
}

#toast {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: var(--z-index-toast);
}

.react-calendar {
  margin: 0 2rem;
  background-color: rgba(95, 133, 191, 0.4);
  border-radius: 0.5rem;
  border: none;
}

@media (max-width: 380px) {
  :root {
    --rem-scale: 55%;
  }
}
