@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css');

:root {
  --default-width: 600px;
  --default-margin: 1.25rem;

  /* Color */

  /* Blue */
  --blue-0: #eaf5fd;
  --blue-1: #ddebf6;
  --blue-2: #bfd7ec;
  --blue-3: #5f86bf;
  --blue-4: #00368e;

  /* Pink */
  --pink-1: #fee9eb;
  --pink-2: #ff849a;
  --pink-3: #ff4b6c;

  /* Gray */
  --white: #ffffff;
  --white-rgb: 255, 255, 255;
  --gray-1: #f8f8f8;
  --gray-1-1: #f4f4f4;
  --gray-2: #f0f0f0;
  --gray-3: #d9d9d9;
  --gray-3-1: #898989;
  --gray-4: #484848;
  --gray-4-rgb: 72, 72, 72;
  --black: #000000;
  --black-rgb: 0, 0, 0;

  /* Gradient */
  --gradient-1: radial-gradient(
    148.79% 155.78% at 31.85% 57.65%,
    var(--blue-4) 0%,
    var(--blue-3) 100%
  );
  --gradient-2: radial-gradient(
    122.47% 119.54% at 77.84% 58.88%,
    #c5d2ff 29.14%,
    #82b5ff 100%
  );
}

/* reset */

*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

html,
body,
header,
nav,
main,
article,
section,
aside,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span,
ul,
ol,
fieldset,
legend,
label,
form,
input,
button,
select,
option,
textarea,
pre {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
  letter-spacing: -0.5px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
svg {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

/* style */

html {
  background-color: #dfdfdf;
}

body {
  padding: 0 !important;
  margin: 0;
  overflow: hidden;
  font-family:
    'Spoqa Han Sans Neo',
    'Noto Sans KR',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -ms-overflow-style: none;
  scrollbar-width: none;

  /* 드래그 막기 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}
::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#toast {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

@media screen and (max-width: 400px) {
  html {
    font-size: 14px;
  }
}
