/* 계정 정보 */
.infoWrapper {
  display: flex;
  flex-direction: column;
  padding: 0.4rem 1.3rem;
  margin: 0 2rem;
  border-radius: 0.5rem;
  background: var(--grey-1);
}

.info {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  border-bottom: 0.1rem solid var(--grey-3);

  &:last-child {
    border-bottom: none;
  }
}

.label {
  color: var(--grey-3-1);
  font: var(--text-body-2-reg);
}

.value {
  color: var(--grey-4);
  font: var(--text-headline-2-med);
}

/* 버튼 */
.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  gap: 1.6rem;
  margin: 2rem;
}

.editButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.9rem 1.5rem;
  background: var(--blue-4);
  color: var(--white);
  font: var(--text-body-1-reg);
}

.passwordButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.9rem 1.5rem;
  background: var(--blue-1);
  color: var(--blue-4);
  font: var(--text-body-1-reg);
}
