.blueContainer {
  padding-top: var(--default-appbar-height);

  display: flex;
  flex-direction: column;
  background-color: var(--blue-0);
  border-radius: 0 0 1.5rem 1.5rem;
}

.displayBox {
  margin: 0.9rem var(--default-margin) 0.7rem var(--default-margin);
  display: flex;
  justify-content: space-between;
  align-items: center;

  font: var(--text-body-2-reg);
  color: var(--grey-3-1);
}

.displayBoxLeft {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.cloudLogoIcon {
  width: 2.5rem;
  height: 1.6rem;
}

.dot {
  width: 0.3rem;
  height: 0.3rem;
  background: var(--grey-3-1);
  border-radius: 100%;
}

.more {
  padding: 0 0.4rem;
  cursor: pointer;
}

.title {
  margin: 0 var(--default-margin);

  font: var(--text-title-1-bold);
  color: var(--grey-4);
}

.info {
  margin: 2.6rem var(--default-margin) 0;
  padding: 0.6rem 1.3rem;
  background: var(--white);
  border-radius: 0.5rem;
}

.content {
  margin: 0 var(--default-margin) 2.3rem var(--default-margin);
  font-size: 1.4rem;
  word-break: keep-all;
}

.fileDownload {
  margin: 1.7rem var(--default-margin) 1.7rem auto;
}

/* action */
.actionContainer {
  height: 5.7rem;
  padding: 0.9rem 0;
  margin: 0 var(--default-margin);

  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
  border-top: 0.05rem solid rgba(var(--grey-3-1-rgb), 0.7);
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  padding: 0.8rem;
  width: 100%;
  border-radius: 0.5rem;
  transition: all 200ms ease-in-out;
  cursor: pointer;

  p {
    color: var(--grey-3-1);
    font: var(--text-body-1-reg);
  }

  &:hover {
    background-color: var(--blue-1);
  }
}

.comment {
  margin-top: 0.1rem;
}
