.container {
  padding-top: var(--default-appbar-height);
}

.top {
  padding-bottom: 1.2rem;

  display: flex;
  flex-direction: column;
  background-color: var(--blue-0);
  border-radius: 0 0 1.5rem 1.5rem;
}

.displayBox {
  margin: 1.2rem var(--default-margin) 0.4rem var(--default-margin);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  color: var(--grey-3-1);
}

.displayBoxLeft {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.dot {
  width: 0.3rem;
  height: 0.3rem;
  background: var(--grey-3-1);
  border-radius: 100%;
}

.more {
  padding: 0 0.4rem;
  cursor: pointer;
}

.title {
  margin: 0 var(--default-margin);
  font-weight: 700;
  font-size: 1.6rem;
}

.info {
  padding: 0.2rem 1.3rem;
  margin: 2.3rem var(--default-margin);
  background: var(--white);
  border-radius: 0.5rem;
}

.content {
  margin: 0 var(--default-margin) 2.3rem var(--default-margin);
  font-size: 1.4rem;
  word-break: keep-all;
}

.fileDownload {
  margin: 0 var(--default-margin) 0 auto;
}

.actions {
  margin: 1.5rem var(--default-margin) 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.1rem;
  color: var(--grey-3-1);

  div:nth-of-type(2):hover {
    background-color: rgba(var(--white-rgb), 0.8);
    cursor: pointer;
  }
}

.action {
  padding: 0.4rem 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  border-radius: 0.5rem;
}

.comment {
  margin-top: 0.1rem;
}
