.post {
  padding: 1.3rem;
  width: 100%;
  background-color: var(--grey-1);
  border-radius: 0.5rem;
  cursor: pointer;
  user-select: none;
}

.thumbnailContainer {
  display: flex;
  justify-content: space-between;
}

.postBarTop {
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  font: var(--text-body-2-reg);
  color: var(--grey-4);
  white-space: nowrap;
}

.cloudLogoIcon {
  width: 2.2rem;
  height: 1.4rem;
}

.author {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 15.6rem;
  padding-left: 0.6rem;
}

.badge {
  width: 1.6rem;
  height: 1.6rem;
  padding-left: 0.2rem;
}

.dot {
  font-weight: 800;
  padding: 0 0.3rem;
}

.checkCircleIcon {
  margin-left: 0.4rem;
}

.postBarCenter {
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;
}

.title {
  font: var(--text-body-1-med);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow-wrap: break-word;
}

.text {
  font: var(--text-body-1-reg);
  color: var(--grey-4);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow-wrap: break-word;
}

.thumbnail {
  width: 7.4rem;
  height: 7.4rem;
  border-radius: 0.5rem;
}

.postBarBottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem 0 0 0;
  color: var(--grey-3-1);

  p {
    margin-bottom: 0.3rem;
  }
}

.iconListContainer {
  display: flex;
  gap: 1rem;
}

.iconContainer {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font: var(--text-body-2-reg);
  color: var(--grey-4);
}

.comment {
  margin-top: 0.1rem;
}
