.post {
  padding: 13px 15px;
  width: 100%;
  background-color: var(--gray-1);
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.post_top {
  padding-bottom: 9px;
  display: flex;
  align-items: center;
  font-size: 11px;
  color: var(--gray-4);
  white-space: nowrap;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 156px;
  padding-left: 6px;
}

.dot {
  font-weight: 800;
  padding: 0 3px;
}

.checkCircleIcon {
  margin-left: 4px;
}

.post_center {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.title {
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text {
  font-size: 13px;
  color: var(--gray-4);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  padding: 5px 0 0 0;
  color: var(--gray-3-1);
  justify-content: space-between;

  p {
    margin-bottom: 3px;
  }
}

.board {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

.iconContainer {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 11px;
  color: var(--gray-3-1);
}

.comment {
  margin-top: 1px;
}
