.post {
  padding: 1.3rem 1.5rem;
  width: 100%;
  background-color: var(--grey-1);
  border-radius: 0.5rem;
  cursor: pointer;
  user-select: none;
}

.post_top {
  padding-bottom: 0.9rem;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  color: var(--grey-4);
  white-space: nowrap;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 15.6rem;
  padding-left: 0.6rem;
}

.badge {
  width: 1.6rem;
  height: 1.6rem;
  padding-left: 0.2rem;
}

.dot {
  font-weight: 800;
  padding: 0 0.3rem;
}

.checkCircleIcon {
  margin-left: 0.4rem;
}

.post_center {
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;
}

.title {
  font-size: 1.4rem;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text {
  font-size: 1.3rem;
  color: var(--grey-4);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  padding: 0.5rem 0 0 0;
  color: var(--grey-3-1);
  justify-content: space-between;

  p {
    margin-bottom: 0.3rem;
  }
}

.board {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}

.iconContainer {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-size: 1.1rem;
  color: var(--grey-3-1);
}

.comment {
  margin-top: 0.1rem;
}
