.appBar {
  position: fixed;
  top: 0;
  z-index: var(--z-index-appbar);

  width: 100%;
  max-width: 60rem;
  height: var(--default-appbar-height);

  padding: 0 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--white);
}

.hasGap {
  /* padding: 1.4rem 2rem;
  width: 100%;
  max-width: 60rem;
  display: flex;
  justify-content: space-between; */
  gap: 1.2rem;
}

.backDiv {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.back {
  cursor: pointer;
}

.title {
  font: var(--text-headline-1-bold);
}

.actions {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.hasWideWidth {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
}
