.appBar {
  padding: 14px 20px;
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  position: fixed;
  top: 0;
  z-index: 1;
}

.hasGap {
  /* padding: 14px 20px;
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-between; */
  gap: 12px;
}

.backDiv {
  display: flex;
  align-items: center;
  gap: 12px;
}

.back {
  cursor: pointer;
}

.title {
  font-weight: 700;
  font-size: 20px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.hasWideWidth {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}
