.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backAppBar {
  background-color: var(--blue-0);
  width: 100%;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  /* 양옆 여백 */
  padding: 5.5rem 1.1rem 1.1rem 2.1rem;
  border-radius: 0 0 1.5rem 1.5rem;
  background-color: var(--blue-0);
}

.contentTop {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: var(--gray-3-1);
  font-size: 1.2rem;
}

.contentTopLeft {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.badge {
  margin-left: -0.5rem;
}

.dot {
  font-weight: 800;
}

.dot3 {
  padding: 1rem;
  cursor: pointer;
}

.title {
  display: flex;
  align-items: end;
  padding: 0.8rem 1rem 2.6rem 0;
  font-size: 2rem;
  font-weight: 700;
  color: var(--gray-4);
}

.views {
  white-space: nowrap;
  color: var(--blue-3);
  font-size: 1.1rem;
  padding-left: 0.2rem;
  font-weight: 400;
}

.post_bottom {
  display: flex;
  justify-content: end;
  padding: 0 1rem 0 0;

  div:nth-of-type(2):hover,
  div:nth-of-type(3):hover {
    background-color: rgba(var(--white-rgb), 0.8);
    cursor: pointer;
  }
}

.count {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  gap: 0.6rem;
  color: var(--gray-3-1);
  font-size: 1.1rem;
}

.whiteBox {
  background-color: #fff;
  width: 100%;
  height: 5rem;
}

/* post content */

.contentText {
  font-size: 1.4rem;
  color: var(--gray-4);
  padding: 0 1.3rem 1.5rem 0;
  white-space: pre-wrap;
  word-break: keep-all;

  a {
    color: var(--blue-3);
  }

  a:hover {
    text-decoration: underline;
  }
}
