.loading {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: var(--z-index-fetch-loading);

  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--default-width);
  width: 100%;
  height: 100%;

  background-color: rgba(var(--black-rgb), 0.4);
}

.loading .text {
  font-size: 1.6rem;
  color: var(--white);
}
