.viewPointListPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 2rem 5.4rem 2rem;
  width: 100%;
  padding-top: 4.5rem;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 0 2.4rem;
}

.title {
  font: var(--text-title-1-bold);
}

.totalPointWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.totalPoints {
  color: var(--blue-4);
  font: var(--text-headline-1-med);
}
