.container {
  height: 100vh;
  padding-top: var(--default-appbar-height);
}

.contentWrapper {
  padding: 0 var(--default-margin) 5.4rem;

  display: flex;
  flex-direction: column;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 0 2.4rem;
}

.title {
  font: var(--text-title-1-bold);
}

.totalPointWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.totalPoints {
  color: var(--blue-4);
  font: var(--text-headline-1-med);
}
