.viewPointListPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 2rem 5.4rem 2rem;
  width: 100%;
  padding-top: 4.5rem;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 0;
}

.title {
  font-size: 2rem;
  font-weight: 700;
}

.totalPointWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;

  svg {
    width: 1.6rem;
    height: 1.6rem;
  }
}

.totalPoint {
  color: var(--blue-4);
  font-size: 1.4rem;
  font-weight: 500;
}
