.title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 2.3rem 4rem;
  border-bottom: 0.1rem solid var(--blue-0);
  color: var(--pink-3);
  font: var(--text-headline-1-med);
}

.content {
  width: 100%;
}

.contentItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 2rem 0 1.8rem;
  height: 5rem;
  border-bottom: 0.1rem solid var(--blue-0);
  color: var(--black);
  font: var(--text-headline-2-reg);
  transition: all 200ms ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--blue-0);
  }
}

.itemIcon {
  flex-shrink: 0;
}

.bottomButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem 5.7rem;
  color: var(--blue-3);
  font: var(--text-headline-2-med);
  cursor: pointer;
}
