.fullScreenContainer {
  width: 100%;
  max-width: var(--default-width);
  height: 100vh;
  position: fixed;
  background-color: var(--blue-0);
  z-index: 10;
  overflow: hidden;
}
.topContainer {
  width: 100%;
  height: 6rem;
  padding: 0 0.875rem;
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 2rem;
}
.pagination {
  width: fit-content !important;
  margin: 0 auto;
  font-size: 16px;
}
.bodyContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6rem; /*topContainer로 밑으로 내린 만큼 위로 올려줘야 함*/
}
.attachmentsContainer {
  width: 100%;
  height: 100%;
}

.attachmentsSlide {
  width: 100% !important;
  height: 100% !important;
  padding: 0;
  margin: 0;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.attachment {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.videoWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.videoElement {
  max-width: 100%;
  max-height: 70vh;
  object-fit: contain;
}
