/* 모달 공통 스타일 */
.dim {
  width: 100vw;
  max-width: var(--default-width);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(228, 228, 228, 0.6);
  backdrop-filter: blur(1rem);
}

.container {
  width: 29rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  padding: 2rem 1rem 1rem;
  border-radius: 1rem;
  background: var(--white);
}

.title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--black);
  white-space: pre-line;
}

.deleteCenter {
  width: 80%;
  text-align: center;
  color: var(--gray-4);
  font-size: 1.2rem;
  white-space: pre-line;
}

/* button */
.buttonGroup {
  display: flex;
  width: 100%;
}

.primaryButton {
  width: 100%;
  padding: 1rem 1.2rem;
  background-color: transparent;
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--pink-3);
}

.secondaryButton {
  width: 100%;
  padding: 1rem 1.2rem;
  background-color: transparent;
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--gray-3-1);
}
