/* 모달 공통 스타일 */
.dim {
  width: 100vw;
  max-width: var(--default-width);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(228, 228, 228, 0.6);
  backdrop-filter: blur(10px);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 288px;
  padding: 20px 10px 10px;
  border-radius: 10px;
  background: var(--white);
}

.buttonGroup {
  display: flex;
  width: 100%;
}

.title {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--black);
  white-space: pre-line;
}

.deleteCenter {
  width: 80%;
  text-align: center;
  color: var(--gray-4);
  font-size: 12px;
  white-space: pre-line;
}

.primaryButton {
  width: 100%;
  padding: 10px 12px;
  background-color: transparent;
  font-weight: 500;
  color: var(--pink-3);
}

.secondaryButton {
  width: 100%;
  padding: 10px 12px;
  background-color: transparent;
  font-weight: 500;
  color: var(--gray-3-1);
}
