.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
  padding: 2.3rem 3.6rem;
  box-sizing: border-box;
  border-bottom: 0.1rem solid var(--grey-2);
}

.title {
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--black);
  font: var(--text-headline-1-med);
}

.description {
  text-align: center;
  color: var(--grey-4);
  font: var(--text-headline-2-reg);
  white-space: pre-line;
}

.bottom {
  display: flex;
  width: 100%;

  button:first-child {
    color: var(--grey-3-1);
  }
  button:last-child {
    color: var(--pink-3);
  }
}

.buttonDivider {
  width: 0.2rem;
  height: 4.7rem;
  margin: 0;
  background-color: var(--grey-2);
}

.bottomButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font: var(--text-headline-2-med);
  cursor: pointer;
  transition: all 200ms ease-in-out;

  &:hover {
    background-color: var(--grey-2);
  }
}
