.container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: var(--white);
}

.container form {
  margin: 0 var(--default-margin);
}

.logo {
  margin: 0 auto 2.5rem;
  width: 27.2rem;
  height: 5rem;
}

.title {
  margin-bottom: 4.8rem;

  font: var(--text-headline-2-reg);
  color: var(--blue-4);
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.rememberIdCheckbox {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
  gap: 0.8rem;
  color: var(--grey-4);
  font: var(--text-body-1-reg);
}

.find {
  display: flex;
  justify-content: center;
  color: var(--grey-4);
  font: var(--text-body-1-reg);
  margin-top: 3.7rem;
  margin-bottom: 1.2rem;
}

.divider {
  margin: 0 2.15rem;
}
