a:hover {
  cursor: pointer;
}

.prev:hover {
  cursor: pointer;
}

.loginframe {
  background-color: var(--white);
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.back {
  margin-top: 1.4rem;
}
.back:hover {
  cursor: pointer;
}

.loginBody {
  padding: 0 2rem;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
}

.logo {
  width: 27.2rem;
  height: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 11rem;
  margin-bottom: 2.5rem;
}

.title {
  font-size: 1.6rem;
  font-style: normal;
  margin-bottom: 4.8rem;
  color: var(--blue-4);
}

.input {
  margin-bottom: 1.7rem;
  font-size: 1.4rem;
}

.pwFrame {
  width: 100%;
  display: flex;
  align-items: center;
  height: 5rem;
  border-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  padding-right: 1rem;
  margin-bottom: 1.6rem;
}

.ready {
  background-color: var(--grey-1-1);
}

.wrong {
  background-color: var(--pink-1);
}

.pwInput {
  width: 80%;
  background-color: var(--blue-4);
  display: inline-block;
}

.visibility {
  display: inline-block;
}

.visibility:hover {
  cursor: pointer;
}

.button {
  display: block;
  width: 18rem;
  height: 3.2rem;
  background-color: var(--blue-4);
  color: var(--white);
  margin: 1.8rem auto;
  border-radius: 0.7rem;
}

.find {
  display: flex;
  justify-content: center;
  color: var(--grey-4);
  font-size: 1.4rem;
  margin-top: 3.7rem;
  margin-bottom: 1.2rem;
}

.divider {
  margin: 0 2.15rem;
}
