.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
  font-size: 8rem;
  color: var(--blue-4);
  font-weight: 700;
}

.text {
  margin-bottom: 2rem;
}

.button {
  width: 20%;
}
