.container {
  width: 100%;
  height: 100%;
}

.paddingContainer {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: 0.8rem;
}

.header {
  height: 4.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.searchbarBox {
  width: 100%;
  /* 양옆 여백 */
  padding: 1rem 0 2.6rem 0;
}

.searchbar {
  border-radius: 0.5rem;
  font-size: 1.2rem;
  color: var(--gray-1-1);
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--gray-1);
  padding: 0 1.3rem;

  input {
    width: 100%;
    padding: 0 1rem 0.2rem 1rem;
    border-radius: 1rem;
    border: transparent;
    background: var(--gray-1);
  }

  input:focus {
    outline: none;
  }
}

.boardBox {
  padding: 2.6rem 0;
  width: 100%;
}

.boardTitle {
  box-sizing: border-box;
  padding: 0 0 0.8rem 0;
  font-size: 1.6rem;
  font-weight: 700;
}

.boardListBox {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-row: auto auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.moreBoardBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  min-height: 30rem;
  background: linear-gradient(180deg, #f9f9f9 0%, var(--white) 100%);
  font-size: 1.2rem;
}

.iconLogo {
  margin-bottom: 1rem;
}
